---

- name: Alpine | upgrade all packages to the latest version
  apk: upgrade=yes
  async: 3600
  poll: 300
  when: (harden_upgradeall is defined and harden_upgradeall) and (travisci is not defined or not travisci)
  register: pkg_result
  until: pkg_result is success

- name: Alpine | Ensure services are running and enabled on boot.
  service: name={{ item }} state=started enabled=yes
  with_items:
    - "{{ harden_services }}"
    - "{{ harden_services_containers }}"
  when: not (ansible_virtualization_type is defined and ansible_virtualization_type == "docker")
