---

- name: Ubuntu | Enable backports (replace)
  replace:
## can be archive, or us-east-1.ec2.archive if amazon, or others
    dest='/etc/apt/sources.list' regexp='^# deb http://(.*)/ubuntu([/]*) {{ ansible_distribution_release }}-backports' replace='deb http://\1/ubuntu\2 {{ ansible_distribution_release }}-backports' backup=yes
  when: ansible_distribution == "Ubuntu"

## some providers haven't the commented line
- name: Ubuntu | Enable backports (line)
  lineinfile:
    dest='/etc/apt/sources.list' regexp='^deb http://.*/ubuntu {{ ansible_distribution_release }}-backports main restricted universe multiverse' line='deb http://archive.ubuntu.com/ubuntu {{ ansible_distribution_release }}-backports main restricted universe multiverse' backup=yes
  when: ansible_distribution == "Ubuntu"

## https://github.com/chef/bento/issues/592
- name: fix Ubuntu network hack
  file: dest=/etc/udev/rules.d/70-persistent-net.rules state=absent

- block:
## http://askubuntu.com/questions/339790/how-can-i-prevent-apt-get-aptitude-from-showing-dialogs-during-installation
    - name: Ubuntu precise | prevent apt module of asking questions for iptables-persistent
      debconf: name=iptables-persistent question="iptables-persistent/{{ item }}" value=false vtype='boolean'
      with_items:
        - autosave_v4
        - autosave_v6
  when: ansible_distribution == "Ubuntu" and ansible_distribution_release == 'precise'

