---

- name: Configure Debian Signature check
  ansible.builtin.replace:
    dest: /etc/dpkg/dpkg.cfg
    regexp: "^{% if not harden_debsig_enable %}#{% endif %}no-debsig"
    replace: "{% if harden_debsig_enable %}#{% endif %}no-debsig"
    mode: '0644'
    backup: "{{ harden_backup | default(false) }}"

## FIXME! kitchen OK, travis NOK
## Error! Your kernel headers for kernel 3.19.0-58-generic cannot be found
- name: Debian | upgrade all packages to the latest version
  ansible.builtin.apt:
    upgrade: dist
  async: 3600
  poll: 300
  when: (harden_upgradeall is defined and harden_upgradeall) and (travisci is not defined or not travisci)
  register: pkg_result
  until: pkg_result is success

- name: Debian | Remove rpc-related packages
  ansible.builtin.apt:
    name: rpcbind
    state: absent
    purge: yes
  when: harden_use_rpc is not defined or not harden_use_rpc
  register: pkg_result
  until: pkg_result is success

- name: Debian | Remove container lxc-related packages
  ansible.builtin.apt:
    name: ['lxd', 'lxcfs', 'lxc-common', 'liblxc1']
    state: absent
    purge: yes
  when: harden_use_containers_lxc is not defined or not harden_use_containers_lxc
  register: pkg_result
  until: pkg_result is success

- name: Import unattended-upgrades
  ansible.builtin.import_tasks: unattended-upgrades.yml
  when: harden_security_update_auto

- name: Debug | ansible_facts['mounts'] var
  ansible.builtin.debug:
    var: ansible_facts['mounts']
- name: Add apt hardening with some immutable directories
  ansible.builtin.template:
    src: 99security.j2
    dest: /etc/apt/apt.conf.d/99security
    owner: root
    mode: '0644'

- name: Import debian-logcheck
  ansible.builtin.import_tasks: debian-logcheck.yml
  when: harden_logcheck is defined and harden_logcheck

- name: Enable sysstat sar collection
  ansible.builtin.replace:
    dest: '/etc/default/sysstat'
    regexp: '^ENABLED="false"'
    replace: 'ENABLED="true"'
    mode: '0644'
  notify:
    - Restart sysstat
  when:
    - harden_debian_sysstat_enable | bool

- name: Check if rng-tools is present
  ansible.builtin.stat:
    path: /etc/default/rng-tools
  register: rngconf
- name: Debian | More entropy
  ansible.builtin.lineinfile:
    dest: '/etc/default/rng-tools'
    regexp: '^HRNGDEVICE=/dev/urandom'
    mode: '0644'
    insertafter: '^#HRNGDEVICE=/dev/null'
    line: 'HRNGDEVICE=/dev/urandom'
  when: (ansible_facts['distribution'] == 'Debian' or ansible_facts['distribution'] == 'Ubuntu') and rngconf.stat.exists

## https://bugs.launchpad.net/ubuntu/+source/debsecan/+bug/95925
- name: Ubuntu | Disable debsecan reports
  when: ansible_facts['distribution'] == 'Ubuntu'
  block:
    - name: Ubuntu | Disable automatic report of debsecan
      ansible.builtin.replace:
        dest: /etc/default/debsecan
        regexp: '^REPORT=.*'
        replace: 'REPORT=false'
        mode: '0644'
        backup: "{{ harden_backup | default(false) }}"
    - name: Ubuntu | Disable debsecan cron
      ansible.builtin.replace:
        dest: /etc/cron.d/debsecan
        regexp: '^([0-9].*) \* \*\ \* \* daemon test -x /usr/bin/debsecan && /usr/bin/debsecan --cron$'
        replace: '#\1 * * * * daemon test -x /usr/bin/debsecan && /usr/bin/debsecan --cron'
        mode: '0644'
- name: Debian distrib debsecan
  when: ansible_facts['distribution'] == 'Debian'
  block:
    - name: Debian | define distribution of debsecan
      ansible.builtin.replace:
        dest: /etc/default/debsecan
        regexp: '^SUITE=.*'
        replace: "SUITE={{ ansible_facts['distribution_release'] }}"
        mode: '0644'
        backup: "{{ harden_backup | default(false) }}"
    - name: Debian | Report only fixed for debsecan cron
      ansible.builtin.replace:
        dest: /etc/cron.d/debsecan
        regexp: '^([0-9].*) \* \* \* \* daemon test -x /usr/bin/debsecan && /usr/bin/debsecan --cron$'
        replace: "\\1 * * * * daemon test -x /usr/bin/debsecan && /usr/bin/debsecan --cron --only-fixed --suite {{ ansible_facts['distribution_release'] }}"
        mode: '0644'

## http://linux-audit.com/linux-capabilities-hardening-linux-binaries-by-removing-setuid/
## https://bugzilla.redhat.com/show_bug.cgi?id=455713
## https://wiki.archlinux.org/index.php/Capabilities
## https://wiki.archlinux.org/index.php/DeveloperWiki:Security#Replacing_setuid_with_capabilities
## https://wiki.ubuntu.com/Security/Investigation/Setuid
## FIXME! same for chroot cap and others
## FIXME! not idempotent, https://github.com/ansible/ansible/issues/18911
## Not setpcap in unprivileged lxc container,
##      https://lists.linuxcontainers.org/pipermail/lxc-users/2016-February/010998.html
- name: Check if capabilities are set  # noqa no-free-form
  ansible.builtin.shell: |
    set -o pipefail
    getcap {{ harden_cap_test_bin | default('/usr/sbin/tcpdump') }} | awk -F' = ' '{ gsub(" ", ",", $2); print $2 }'
  args:
    executable: "/bin/bash"
  register: getcap1
  changed_when: false
  failed_when: false
- name: Debug | getcap1 var
  ansible.builtin.debug:
    var: getcap1.stdout
- name: Set more granular capabilities
  when: >
    not (ansible_facts['virtualization_type'] is defined and
          (ansible_facts['virtualization_type'] == "lxc" or ansible_facts['virtualization_type'] == "docker")
        )
    and getcap1.stdout is defined and getcap1.stdout != harden_cap_test_bincap
  block:
    - name: Debug | ansible_facts['virtualization_type'] var
      ansible.builtin.debug:
        var: ansible_facts['virtualization_type']
    - name: Capabilities Hardening - default network tools
      community.general.capabilities:
        path: "{{ item.bin }}"
        capability: "{{ item.cap }}"
        state: present
      with_items: "{{ harden_cap_list }}"
    - name: Ensure permissions are not setuid - using capabilities
      ansible.builtin.file:
        path: "{{ item.bin }}"
        mode: "{{ item.mode | default('0755') }}"
      with_items: "{{ harden_cap_list }}"

- name: Check if /etc/init.d/rc exists
  ansible.builtin.stat:
    path: /etc/init.d/rc
  register: rcfile
- name: Update /etc/init.d/rc
  when: rcfile.stat.exists
  block:
    - name: Check attribute of immutable test file
      ansible.builtin.command: "lsattr {{ immutable_testfile }}"
      register: rclsattr
      changed_when: false
    - name: Debug | rclsattr var
      ansible.builtin.debug:
        var: rclsattr.stdout
    - name: Remove temporarily immutable flag on file
      ansible.builtin.command: "chattr -i /etc/init.d"
      when: >
        rclsattr.stdout.find("----i-") == -1 and
        not (ansible_facts['virtualization_type'] is defined and ansible_facts['virtualization_type'] == "docker")
    - name: Set umask in /etc/init.d/rc
      ansible.builtin.lineinfile:
        dest: /etc/init.d/rc
        regexp: '^umask '
        line: "umask {{ harden_umask }}"
        mode: '0644'
      when: ansible_facts['distribution'] == "Ubuntu"
    - name: Set back immutable flag on file
      ansible.builtin.command: "chattr +i /etc/init.d"
      when: >
        rclsattr.stdout.find("----i-") == -1 and
        not (ansible_facts['virtualization_type'] is defined and ansible_facts['virtualization_type'] == "docker")
      failed_when: false

- name: Import apparmor-audit
  ansible.builtin.import_tasks: apparmor-audit.yml
  when: harden_apparmor_audit
