---

- name: Adding aide user
  ansible.builtin.user:
    name: "{{ harden_aide_user }}"
    system: yes
    home: /nonexistent
    create_home: no

- name: Ensure permissions are correct
  ansible.builtin.file:
    name: "{{ item.n }}"
    owner: "{{ harden_aide_user }}"
    mode: "{{ item.m }}"
    recurse: "{{ item.recurse }}"
    state: "{{ item.s | default('directory') }}"
  loop:
    - { n: /var/log/aide, m: '0755', recurse: no }
    - { n: /run/aide, m: '0700', recurse: no }

- name: Ensure owner is correct if preexisting logs
  ansible.builtin.command:
    cmd: "find /var/log/aide -type f -user root -exec chown {{ harden_aide_user }} {} \\;"

- name: Ensure sudo config for unprivileged aide cron.daily
  ansible.builtin.template:
    src: sudoers.d-aide.j2
    dest: /etc/sudoers.d/aide-unprivileged
    mode: '0440'
    owner: root

- name: Ensure scripts dir exists
  ansible.builtin.file:
    path: /usr/local/scripts
    state: directory
    mode: '0755'
    owner: root

- name: Have custom aide cron.daily script
  ansible.builtin.template:
    src: "{{ aide_hids_crondaily | default('cron.daily-aide.j2') }}"
    dest: /usr/local/scripts/cron.daily-aide
    mode: '0755'

- name: Scheduled unprivileged daily script
  ansible.builtin.cron:
    name: aide hids unprivileged cron.daily
    minute: "0"
    hour: "6"
    user: "{{ harden_aide_user }}"
    job: "/usr/local/scripts/cron.daily-aide"
    cron_file: ansible_cron_daily_aide

- name: Remove original privileged cron.daily aide
  ansible.builtin.file:
    path: /etc/cron.daily/aide
    state: absent

- name: Disable dailyaidecheck.timer
  ansible.builtin.systemd_service:
    name: dailyaidecheck.timer
    state: stopped
    enabled: no
  when: >
    (ansible_facts['distribution'] == 'Debian' and ansible_facts['distribution_major_version']|int >= 12) or
    (ansible_facts['distribution'] == 'Ubuntu' and ansible_facts['distribution_major_version']|int >= 24)
