---

- name: Debug | ansible_facts['service_mgr']
  ansible.builtin.debug:
    var: ansible_facts['service_mgr']

- name: Set systemd for ipset-persistence
  # when: ansible_facts['service_mgr'] == 'systemd'
  when: >
    (ansible_facts['distribution'] == "Ubuntu" and ansible_facts['distribution_major_version']|int >= 16) or
    (ansible_facts['distribution'] == "Debian" and ansible_facts['distribution_major_version']|int >= 9) or
    (ansible_facts['os_family'] == "RedHat" and ansible_facts['distribution_major_version']|int >= 7)
  block:
    - name: Systemd for ipset-persistence
      block:
        - name: Install systemd configuration
          ansible.builtin.template:
            src: systemd-ipset-persistence.service.j2
            dest: /lib/systemd/system/ipset-persistence.service
            mode: '0644'
            backup: yes
          register: systemd
          notify:
            - Reload systemd
            - Restart ipset-persistence

      rescue:
        - name: Include immutable
          ansible.builtin.include_tasks: immutable.yml
          vars:
            target_dir: /lib/systemd/system
            state: pre
        - name: Include immutable
          ansible.builtin.include_tasks: immutable.yml
          vars:
            target_dir: /lib/systemd/system/ipset-persistence.service
            state: pre
        - name: Install systemd configuration
          ansible.builtin.template:
            src: systemd-ipset-persistence.service.j2
            dest: /lib/systemd/system/ipset-persistence.service
            mode: '0644'
            backup: yes
          notify:
            - Reload systemd
            - Restart ipset-persistence
        - name: Include immutable
          ansible.builtin.include_tasks: immutable.yml
          vars:
            target_dir: /lib/systemd/system
            state: post

- name: Flush handlers
  ansible.builtin.meta: flush_handlers

- name: Enable and start ipset-persistence systemd service
  ansible.builtin.service:
    name: ipset-persistence
    enabled: "{{ ipsetpersistence_svc_enable | default(true) }}"
    state: "{{ ipsetpersistence_svc_state | default('started') }}"
  when: >
    not (ansible_facts['virtualization_type'] is defined and
          (ansible_facts['virtualization_type'] == "docker" or ansible_facts['virtualization_type'] == "containerd")
        )
