---

- name: Firewall IPv4
  when: harden_fw is defined and harden_fw
  block:
    - name: Ensure iptables directory exists
      ansible.builtin.file:
        dest: /etc/iptables
        state: directory
        mode: '0755'
    - name: Iptables configuration file update
      ansible.builtin.template:
        src: "{{ harden_fw_template }}"
        dest: "{{ iptables_rulesv4 }}"
        backup: "{{ harden_backup | default(false) }}"
        owner: '0'
        group: '0'
        mode: '0644'
        ## works in ansible 2.2.0.0, nok 2.2.1.0?
        # validate: 'iptables-restore -tv < %s'
      notify:
        - Restart iptables
        - Restart iptables - redhat|alpine
      register: rulesv4
    ## as validate option seems incorrect
    - name: Ensure iptables v4 rules are correct
      ansible.builtin.shell: "iptables-restore -tv < {{ iptables_rulesv4 }}"
      when: rulesv4.changed and not (ansible_facts['virtualization_type'] is defined and ansible_facts['virtualization_type'] == "docker")

- name: Firewall IPv6
  when: harden_fw is defined and harden_fw and harden_fw6_template is defined
  block:
    - name: Ensure iptables directory exists
      ansible.builtin.file:
        dest: /etc/iptables
        state: directory
        mode: '0755'
    - name: Iptables configuration file update
      ansible.builtin.template:
        src: "{{ harden_fw6_template }}"
        dest: "{{ iptables_rulesv6 }}"
        backup: "{{ harden_backup | default(false) }}"
        owner: '0'
        group: '0'
        mode: '0644'
        ## works in ansible 2.2.0.0, nok 2.2.1.0?
        # validate: 'iptables-restore -tv < %s'
      notify:
        - Restart iptables
        - Restart ip6tables - redhat|alpine
      register: rulesv6
    - name: Ensure iptables v6 rules are correct
      ansible.builtin.shell: "ip6tables-restore -tv < {{ iptables_rulesv6 }}"
      when: rulesv6.changed and not (ansible_facts['virtualization_type'] is defined and ansible_facts['virtualization_type'] == "docker")

- name: Alpine Linux Firewall
  when: ansible_facts['os_family'] == "Alpine"
  block:
    - name: Alpine | Load iptables rules - v4  # noqa no-changed-when
      ansible.builtin.shell: >
        iptables-restore -v < {{ iptables_rulesv4 }}
    - name: Alpine | Load iptables rules - v6  # noqa no-changed-when
      ansible.builtin.shell: >
        ip6tables-restore -v < {{ iptables_rulesv6 }}
    - name: Alpine | Save iptables rules for system restore
      ansible.builtin.command: "{{ item }}"  # noqa no-changed-when
      with_items:
        - /etc/init.d/iptables save
        - /etc/init.d/ip6tables save
    - name: Alpine | Check services status
      ansible.builtin.command: "rc-status"
      changed_when: false
    - name: Alpine | Ensure iptables starts at boot
      ansible.builtin.command: "{{ item }}"  # noqa no-changed-when
      with_items:
        - rc-update add iptables
        - rc-update add ip6tables
