---
# warning: required kernel modules ip_set, ip_set*
# https://linux-audit.com/blocking-ip-addresses-in-linux-with-iptables/
# https://confluence.jaytaala.com/display/TKB/Using+ipset+to+block+IP+addresses+-+firewall

- name: Ensure ipset package is present
  ansible.builtin.package:
    name: 'ipset'
    state: present

- name: Set ipset configuration
  ansible.builtin.template:
    src: ipsets.conf.j2
    dest: /etc/ipsets.conf
    mode: '0644'
  notify:
    - Ipset restore

- name: Ensure ipset refresh script is present
  ansible.builtin.template:
    src: ipsets-refresh.sh.j2
    dest: /usr/local/bin/ipsets-refresh.sh
    mode: "0755"
  when:
    - harden_ipset_list_dataurl is defined
    - harden_ipset_list_dataurl | length > 0

- name: Ensure ipset refresh scheduled task
  ansible.builtin.cron:
    name: url based ipset refresh
    weekday: "0"
    minute: "0"
    hour: "12"
    user: nobody
    job: /usr/local/bin/ipsets-refresh.sh > /var/tmp/ipsets-refresh.log
    cron_file: ansible_ipset_refresh
  when:
    - harden_ipset_list_dataurl is defined
    - harden_ipset_list_dataurl | length > 0

- name: Check existing lists
  ansible.builtin.command: "ipset list"
  changed_when: false
  register: ipset

- name: Create ipset list
  ansible.builtin.command: "ipset create {{ item.n }} {{ item.t }}"
  loop: "{{ harden_ipset_list }}"
  when: "item.n not in ipset"
  register: ipset_create
  changed_when:
    - ipset_create.rc == 0
  failed_when:
    - ipset_create.rc != 0
    - "'set with the same name already exists' not in ipset_create.stderr"
  notify:
    - Ipset restore

- name: Configure ipsets
  ansible.builtin.template:
    src: "{{ harden_iptables_ipset_template | default('ipsets.conf.j2') }}"
    dest: /etc/ipsets.conf
    mode: '0644'
  notify:
    - Ipset restore

- name: Import iptables-ipset-systemd
  ansible.builtin.import_tasks: iptables-ipset-systemd.yml
