---
# https://www.openwall.com/lkrg/
# https://openwall.info/wiki/p_lkrg/Main

- name: Download lkrg files
  get_url:
    url: "{{ item.u }}"
    dest: "{{ install_archives }}/{{ item.u | basename }}"
    owner: root
    mode: "{{ item.m }}"
    checksum: "{{ item.c | default(omit) }}"
  with_items:
    - { u: 'https://www.openwall.com/lkrg/lkrg-0.6.tar.gz', m: '0600' }
    - { u: 'https://www.openwall.com/lkrg/lkrg-0.6.tar.gz.sign', m: '0600' }
    - { u: 'https://www.openwall.com/signatures/openwall-offline-signatures.asc',
        c: 'sha256:8807d12ff271891e21491552880541aed0fa525d30cfec0df0e8fcfe56f46cd8',
        m: '0600'
      }

- name: Import openwall gpg key
  command: >
    gpg --import {{ install_archives }}/openwall-offline-signatures.asc

- name: Validate lkrg hash signature
  command: >
    gpg --verify {{ install_archives }}/lkrg-0.6.tar.gz.sign {{ install_archives }}/lkrg-0.6.tar.gz
  changed_when: false

- name: lkrg dependencies install
  package:
    name: "{{ lkrg_dep_pkgs }}"
    state: present
    update_cache: yes
  register: pkg_result
  until: pkg_result is success

- name: uncompress lkrg
  unarchive:
    src: "{{ install_archives }}/lkrg-0.6.tar.gz"
    dest: "{{ install_archives }}"
    creates: "{{ install_archives }}/lkrg-0.6/INSTALL"

- name: build lkrg
  command: make -j8
  args:
    chdir: "{{ install_archives }}/lkrg-0.6"

- name: Debian | fix systemd service file destination path
  replace:
    dest: "{{ install_archives }}/lkrg-0.6/scripts/bootup/systemd/lkrg-systemd.sh"
    regex: -f5
    replace: -f7
  when: ansible_distribution_release == 'xenial'

- include: "immutable.yml target_dir=/lib/modules state=pre"
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'

- name: install lkrg
  command: make install
  args:
    chdir: "{{ install_archives }}/lkrg-0.6"

- include: "immutable.yml target_dir=/lib/modules state=post"
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'

- name: start lkrg if not container
  systemd:
    name: lkrg
    state: started
    enabled: yes

- name: Configure lkrg sysctl
  sysctl:
    name: "lkrg.{{ item.n }}"
    value: "{{ item.v }}"
    sysctl_set: yes
    state: present
    reload: yes
  with_items: "{{ harden_lkrg_sysctl | default([]) }}"
