---
## usual suspects:
#    http://bastille-linux.sourceforge.net/
#    https://cisofy.com/lynis/
#    https://fedorahosted.org/aqueduct/wiki
## https://github.com/fcaviggia/hardening-script-el6
## https://github.com/major/securekickstarts

- name: Include variables
  ansible.builtin.include_vars: "{{ lookup('ansible.builtin.first_found', params) }}"
  vars:
    params:
      files:
        - "{{ ansible_facts['distribution'] }}-{{ ansible_facts['distribution_version'] }}.yml"
        - "{{ ansible_facts['distribution'] }}-{{ ansible_facts['distribution_major_version'] }}.yml"
        - "{{ ansible_facts['distribution'] }}.yml"
        - "{{ ansible_facts['os_family'] }}.yml"
      paths:
        - 'vars'

- name: Import travis
  ansible.builtin.import_tasks: travis.yml
  when: ansible_facts['os_family'] != "Windows"

- name: Ensure archives folder exists
  ansible.builtin.file:
    dest: "{{ install_archives }}"
    state: directory
    mode: '0700'

- name: Import debian-apt-source
  ansible.builtin.import_tasks: debian-apt-source.yml
  when: ansible_facts['distribution'] == 'Debian' or ansible_facts['distribution'] == 'Ubuntu'

- name: Debian | update apt cache
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600
  when: ansible_facts['os_family'] == "Debian"

- name: Install some hardening packages
  ansible.builtin.package:
    name: "{{ harden_pkg }}"
    state: present
  register: pkg_result
  until: pkg_result is success
- name: Install rsyslog
  ansible.builtin.package:
    name: rsyslog
    state: present
  register: pkg_result
  until: pkg_result is success
  when:
    - harden_rsyslog_enable | bool
- name: Install some hardening packages - not in container
  ansible.builtin.package:
    name: "{{ harden_pkg_not_container | default([]) }}"
    state: present
  register: pkg_result
  until: pkg_result is success
  when: not (ansible_facts['virtualization_type'] is defined and
              (ansible_facts['virtualization_type'] == 'lxc' or ansible_facts['virtualization_type'] == 'docker'))

- name: Remove some packages
  ansible.builtin.package:
    name: "{{ harden_pkg_remove }}"
    state: absent
    # purge: yes
  register: pkg_result
  until: pkg_result is success

- name: Arpwatch
  when: >
    harden_arpwatch and
    not (ansible_facts['virtualization_type'] is defined and
          (ansible_facts['virtualization_type'] == "lxc" or ansible_facts['virtualization_type'] == "docker")
        )
  block:
    - name: Install arpwatch
      ansible.builtin.package:
        name: arpwatch
        state: present
      register: pkg_result
      until: pkg_result is success
    - name: Ensure arpwatch service is enabled and started
      ansible.builtin.service:
        name: arpwatch
        state: started
        enabled: yes
- name: Install arpwatch
  ansible.builtin.package:
    name: arpwatch
    state: absent
  when: >
    not harden_arpwatch or
    (ansible_facts['virtualization_type'] is defined and
      (ansible_facts['virtualization_type'] == "lxc" or ansible_facts['virtualization_type'] == "docker")
    )
  register: pkg_result
  until: pkg_result is success

- name: Import linux
  ansible.builtin.import_tasks: linux.yml
  when: ansible_facts['system'] == 'Linux'

- name: Debian | Harden
  ansible.builtin.import_tasks: debian.yml
  when: ansible_facts['distribution'] == 'Debian' or ansible_facts['distribution'] == 'Ubuntu'

- name: Redhat | Harden
  ansible.builtin.import_tasks: redhat.yml
  when: ansible_facts['os_family'] == "RedHat"

- name: Alpine | Harden
  ansible.builtin.import_tasks: alpine.yml
  when: ansible_facts['os_family'] == "Alpine"

- name: Import unix
  ansible.builtin.import_tasks: unix.yml
  when: ansible_facts['system'] == 'Linux' or ansible_facts['distribution'] == 'OpenBSD'

- name: Import restrict_compiler
  ansible.builtin.import_tasks: restrict_compiler.yml
  when: harden_restrict_compiler is defined and harden_restrict_compiler

- name: Import bash2syslog
  ansible.builtin.import_tasks: bash2syslog.yml
  when: harden_bash2syslog is defined and harden_bash2syslog

- name: Import root-forward
  ansible.builtin.import_tasks: root-forward.yml
  when: harden_rootforward is defined and harden_rootforward | length > 0

- name: Import fail2ban
  ansible.builtin.import_tasks: fail2ban.yml
  when: >
    not (ansible_facts['os_family'] == 'RedHat' and ansible_facts['distribution_major_version']|int >= 8)

- name: Import vim-swapfiles
  ansible.builtin.import_tasks: vim-swapfiles.yml
- name: Import llmnr-systemd
  ansible.builtin.import_tasks: llmnr-systemd.yml
- name: Import chkrootkit
  ansible.builtin.import_tasks: chkrootkit.yml
  when: >
    (ansible_facts['distribution'] == 'Ubuntu' and ansible_facts['distribution_major_version']|int >= 22)

- name: Import testing
  ansible.builtin.import_tasks: testing.yml
  when: harden_testing | bool
