---

- name: check monit status
  command: "monit status {{ daemon }}"
  register: monitstatus
  changed_when: false
  ignore_errors: true
- name: force monitor of {{ daemon }}
  command: "monit monitor {{ item }}"
  when: "'unmonitor' in monitstatus.stdout"
