---
- name: Monit | Set default daemons
  set_fact:
    daemons:
      - sshd
      - rsyslog
- name: Monit | Include osqueryd
  set_fact:
    daemons: "{{ daemons }} + [ 'osqueryd' ]"
  when: monit_osqueryd
- name: Monit | Include auditd
  set_fact:
    daemons: "{{ daemons }} + [ 'auditd' ]"
  when: monit_auditd

- name: ensure monit package is present
  package:
    name: monit
    state: present
  when: ansible_system == 'Linux'
  register: pkg_result
  until: pkg_result is success

- name: ensure monit configuration subdir is present
  file:
    dest: "{{ monit_confdir }}"
    state: directory
    mode: '0755'

- name: set monit configurations
  template:
    src: "{{ item }}-monit.j2"
    dest: "{{ monit_confdir }}/{{ item }}"
    mode: '0700'
    owner: root
    backup: "{{ harden_backup | default(false) }}"
## FIXME: The control file '/home/vagrant/.ansible/tmp/ansible-tmp-1513601819.61-207005098620159/source'
##      must be owned by you.
##  => monit requires file to be owned by root which is not the case before validation. ansible not
##      supporting multiple commands in validation
#    validate: 'monit -t -c %s'
#    validate: 'chown root %s; monit -t -c %s'
  with_items: "{{ daemons }}"
  notify:
    - restart monit

- block:
    - block:
        - name: Trusty+Jessie | enable monit
          file: "src={{ monit_confdir }}/{{ item }} dest=/etc/monit/conf.d/{{ item }} state=link"
          with_items: "{{ daemons }}"
          notify:
            - restart monit
      when: ansible_distribution_release == 'trusty' or ansible_distribution_release == 'jessie'
    - block:
        - name: Debian | enable monit
          file: "src={{ monit_confdir }}/{{ item }} dest=/etc/monit/conf-enabled/{{ item }} state=link"
          with_items: "{{ daemons }}"
          notify:
            - restart monit
      when: >
        (ansible_distribution == 'Ubuntu' and ansible_distribution_major_version | int >= 16) or
        (ansible_distribution == 'Debian' and ansible_distribution_major_version | int >= 8)
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'

- name: allow monit status/summary from localhost
  replace: dest={{ monitrc }} regexp={{ item.re }} replace={{ item.rep }}
  with_items:
    - { re: '^# set httpd port 2812 and', rep: ' set httpd port 2812 and' }
    - { re: '^#    \s*use address localhost', rep: '     use address localhost' }
    - { re: '^#    \s*allow localhost', rep: '     allow localhost' }
#    - { re: '^#     allow admin:monit', rep: '     allow admin:monit' }
    - { re: '^#  include /etc/monit.d/*', rep: '  include /etc/monit.d/*' }
  notify:
    - restart monit

- name: ensure monit service is enabled and started
  service: name=monit state=started enabled=yes
  when: ansible_system == 'Linux' and ansible_distribution != "Alpine"

- meta: flush_handlers
- include: "monit-checkmonitor.yml daemon={{ item }}"
  with_items: "{{ daemons }}"
