---

- name: Nftables Firewall
  when:
    - harden_fw is defined and harden_fw
    - (ansible_facts['distribution'] == 'Debian' and ansible_facts['distribution_major_version']|int >= 12) or
      (ansible_facts['distribution'] == 'Ubuntu' and ansible_facts['distribution_major_version']|int >= 22) or
      (ansible_facts['os_family'] == 'RedHat' and ansible_facts['distribution_major_version']|int >= 9)
  block:
    - name: Nftables configuration file update
      ansible.builtin.template:
        src: "{{ harden_fw_template }}"
        dest: "{{ nftables_rules }}"
        backup: "{{ harden_backup | default(false) }}"
        owner: '0'
        group: '0'
        mode: '0644'
        # validate: 'nft -c -f %s'
      notify:
        - Load Nftables rules
    - name: Nftables configuration validation
      ansible.builtin.command:
        cmd: "nft -c -f {{ nftables_rules }}"
