---

- name: Enable SELinux
  selinux:
    policy: targeted
    state: enforcing

## ANSSI R67
- name: enforce more strict configuration for selinux
  seboolean: name={{ item }} state=no persistent=yes
  with_items:
    - allow_execheap
    ## vagrant/Centos7: "msg": "SELinux boolean allow_execmem does not exist.",
    ##      but https://wiki.centos.org/TipsAndTricks/SelinuxBooleans
    # - allow_execmem
    - allow_execstack
    - secure_mode_insmod
    - ssh_sysadm_login
  ignore_errors: true

# user custom path for ssh?
# https://bugzilla.redhat.com/show_bug.cgi?id=499343
- name: Ensure correct selinux type for non-standard homepath
  file:
    dest: "{{ item }}/.ssh"
    state: directory
    mode: '0700'
    setype: user_ssh_home_t
  with_items: "{{ harden_selinux_customhome | default([]) }}"
