---

- name: Ensure tzdata package is present
  ansible.builtin.package:
    name: tzdata
    state: present
  register: pkg_result
  until: pkg_result is success

- name: Alpine | timezone
  when: ansible_facts['distribution'] == "Alpine"
  block:
    - name: Alpine | copy timezone file
      ansible.builtin.copy:
        src: "/usr/share/zoneinfo/{{ harden_timezone | default('UTC') }}"
        dest: "/etc/localtime"
        mode: '0644'
    - name: Alpine | set local timezone
      ansible.builtin.lineinfile:
        dest: /etc/timezone
        regexp: '^.*'
        line: "{{ harden_timezone | default('UTC') }}"
        mode: '0644'
        owner: root
        create: yes

- name: Set system timezone
  community.general.timezone:
    name: "{{ harden_timezone | default('UTC') }}"
  when: >
    ansible_facts['distribution'] != "Alpine" and
    not (ansible_facts['virtualization_type'] is defined and ansible_facts['virtualization_type'] == "docker")
