---

## http://blog.dustinkirkland.com/2016/10/canonical-livepatch.html
## Register on https://www.ubuntu.com/server/livepatch

- name: Compatibility check
  fail: msg="FATAL! Free livepatch available only on Ubuntu xenial."
  when: ansible_distribution_release != 'xenial'

## related? https://bugs.launchpad.net/ubuntu/+source/snapd/+bug/1590842
##  https://bugs.launchpad.net/snapd/+bug/1555217
- name: Ensure enough /dev/loop devices for snap
  command: "mknod -m 0660 /dev/loop{{ item }} b 7 {{ item }}"
  args:
    creates: "/dev/loop{{ item }}"
  with_sequence: start=0 end=32

- name: Ensure snapd is installed
  apt: name=snapd state=present
  register: pkg_result
  until: pkg_result is success

- name: Ubuntu xenial | Install livepatch
  command: "snap install canonical-livepatch creates=/var/lib/snapd/snaps/canonical-livepatch_17.snap"
  ignore_errors: true

- name: Check livepatch status
  command: "/snap/bin/canonical-livepatch status --verbose"
  changed_when: false
  register: livepatch
  ignore_errors: true

- debug: msg="WARNING! Possible error in current livepatch configuration. Please check."
  when: >
   livepatch is defined and livepatch.stdout is defined and
   'checkState: check-failed' in livepatch.stdout

- name: Ubuntu xenial | Enable livepatch
  command: "/snap/bin/canonical-livepatch enable {{ harden_ubuntu_livepatch_token }}"
  no_log: true
  when: livepatch is defined and livepatch.stdout is defined and "Machine is not enabled." in livepatch.stdout

## Note: display token
#- name: Check status
#  command: "/snap/bin/canonical-livepatch status --verbose"
#  changed_when: false
#  register: livepatchstatus
#- debug: var=livepatchstatus
