---

## default: .swp/swx in same directory than edited file
## reduce falco triggers when editing /etc
- name: Set swapfiles directory of vim
  ansible.builtin.lineinfile:
    dest: "{{ ansible_facts['env']['HOME'] }}/.vimrc"
    regexp: "^set directory=.*"
    line: "set directory=$HOME/.vim/swapfiles"
    mode: '0600'
    backup: "{{ harden_backup | default(false) }}"
    create: yes

- name: Ensure vim swapfiles directory exist
  ansible.builtin.file:
    dest: "{{ ansible_facts['env']['HOME'] }}/.vim/swapfiles"
    state: directory
    mode: '0700'
