---
## https://bugs.centos.org/view.php?id=9938
## https://bugzilla.redhat.com/show_bug.cgi?id=1293513
## http://unix.stackexchange.com/questions/252314/why-does-a-yum-package-update-replaces-my-yum-cron-config-files

- name: RedHat | Ensure yum-cron package is present
  yum:
    name: yum-cron
    state: present
  register: pkg_result
  until: pkg_result is success

- name: RedHat | enable yum-cron hourly security updates
  replace:
    dest: /etc/yum/yum-cron-hourly.conf
    regexp: "{{ item.re }}"
    replace: "{{ item.rep }}"
    backup: "{{ harden_backup | default(false) }}"
  with_items:
    - { re: '^update_cmd = .*', rep: 'update_cmd = security' }
    - { re: '^update_messages = .*', rep: 'update_messages = yes' }
    - { re: '^download_updates = .*', rep: 'download_updates = yes' }
    - { re: '^apply_updates = .*', rep: 'apply_updates = yes' }

- name: RedHat | Ensure yum-cron service is enabled and started
  service:
    name: yum-cron
    enabled: yes
    state: started
