{{ ansible_managed | comment }}
local1.notice                    /var/log/bash.log
{% if rsyslog_v.stdout is defined and rsyslog_v.stdout|int is version_compare('8.0', '<') %}
& ~
{% else %}
& stop
{% endif %}
