{% for l in harden_ipset_list %}
{%     if l.t == 'nethash' %}
create {{ l.n }} hash:net {{ l.option | default('family inet hashsize 1024 maxelem 65536') }}
{%     else %}
create {{ l.n }} {{ l.t }} {{ l.option | default('') }}
{%     endif %}
{% endfor %}
{% for i in harden_ipset_list_data %}
{%     for ip in i.list %}
add {{ i.n }} {{ ip }}
{%     endfor %}
{% endfor %}
