{{ ansible_managed | comment }}
# /etc/logcheck/logcheck.replace

{% if (ansible_distribution == 'Debian' and ansible_distribution_major_version|int > 10) or
      (ansible_distribution == 'Ubuntu' and ansible_distribution_major_version|int > 20) %}
# Final uniq+sort is done by syslog-summary normally
s/[A-Z][a-z][a-z]\s*[0-9]*\s*[0-9]*:[0-9]*:[0-9]*\s*//
s/[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*\.[0-9]*+[0-9]*:[0-9]* //
s/sudo\[[0-9]*\]: /sudo: /
s/CRON\[[0-9]*\]: /CRON: /
{% else %}
# s/[A-Z][a-z][a-z]\s*[0-9]*\s*[0-9]*:[0-9]*:[0-9]*\s*//
{% endif %}

s/sshd\[[0-9]*\]: Accepted \(.*\) for \(.*\) from \([0-9a-fA-F\.:]*\) port [0-9]* ssh2/sshd: Accepted \1 for \2 from \3 port N ssh2/
s/sshd\[[0-9]*\]: Failed \(.*\) for \(.*\) from \([0-9a-fA-F\.:]*\) port [0-9]* ssh2/sshd: Failed \1 for \2 from \3 port N ssh2/
s/sshd\[[0-9]*\]: Accepted publickey for \(.*\) from \([0-9a-fA-F\.]*\) port [0-9]* ssh2/sshd: Accepted publickey for \1 from \2 port N ssh2/
s/sshd\[[0-9]*\]: Failed publickey for \(.*\) from \([0-9a-fA-F\.]*\) port [0-9]* ssh2/sshd: Accepted publickey for \1 from \2 port N ssh2/
s/sshd\[[0-9]*\]: Postponed publickey for \(.*\) from \([0-9a-fA-F\.]*\) port [0-9]* ssh2/sshd: Accepted publickey for \1 from \2 port N ssh2/
#s/sshd\[[0-9]*\]: input_userauth_request: invalid user .*/sshd: input_userauth_request: invalid user XXX/
#s/sshd\[[0-9]*\]: Invalid user .* from \([0-9\.]*\)/sshd: Invalid user XXX from \1/
s/sshd\[[0-9]*\]: Connection closed by \([0-9a-fA-F\.:]*\) port [0-9]*/sshd: Connection closed by \1 port N/
s/sshd\[[0-9]*\]: Connection reset by \([0-9a-fA-F\.:]*\) port [0-9]*/sshd: Connection reset by \1 port N/
s/sshd\[[0-9]*\]: Connection from \([0-9a-fA-F\.:]*\) port [0-9]* on \([0-9\.:]*\) port \([0-9]*\)/sshd: Connection from \1 port N on \2 port \3/
#s/sshd\[[0-9]*\]: Connection from \([0-9a-fA-F\.:]*\) port [0-9]* on \([0-9\.:]*\) port \([0-9]*\)/sshd: Connection from <IP> port N on \2 port \3/
s/sshd\[[0-9]*\]: Disconnected from \([0-9a-fA-F\.:]*\) port [0-9]*/sshd: Disconnected from \1 port N/
s/sshd\[[0-9]*\]: Disconnected from user \(.*\) \([0-9a-fA-F\.:]*\) port [0-9]*/sshd: Disconnected from \1 \2 port N/
s/sshd\[[0-9]*\]: Received disconnect from \([0-9a-fA-F\.:]*\) port [0-9]*/sshd: Received disconnect from \1 port N/
s/sshd\[[0-9]*\]: Starting session: command for \(.*\) from \([0-9\.:]*\) port [0-9]*/sshd: Starting session: command for \1 from \2 port N/
s/sshd\[[0-9]*\]: Starting session: command on \(.*\) for \(.*\) from \([0-9\.:]*\) port [0-9]*/sshd: Starting session: command on \1 for \2 from \3 port N/
s/sshd\[[0-9]*\]: Close session: user \(.*\) from \([0-9a-fA-F\.:]*\) port [0-9]*/sshd: Close session: user \1 from \2 port N/
s/sshd\[[0-9]*\]: Transferred: sent [0-9]*, received [0-9]* bytes/sshd: Transferred: sent N, received N bytes/
s/sshd\[[0-9]*\]: error: Received disconnect from \([0-9a-fA-F\.:]*\) port [0-9]*:/sshd: error: Received disconnect from \1 port N:/
s/sshd\[[0-9]*\]: Starting session: shell on \(.*\) for \(.*\) from \([0-9a-fA-F\.:]*\) port [0-9]* id \([0-9]*\)/sshd: Starting session: shell on \1 for \2 from \3 port N id \4/
s/sshd\[[0-9]*\]: fatal: Unable to negotiate with \([0-9a-fA-F\.:]*\) port [0-9]*: no matching /sshd: fatal: Unable to negotiate with <IP> port N: no matching /
#s/sshd\[[0-9]*\]: fatal: Unable to negotiate with \([0-9a-fA-F\.:]*\) port [0-9]*: no matching /sshd: fatal: Unable to negotiate with \1 port N: no matching /
#s/sshd\[[0-9]*\]: fatal: Unable to negotiate with \([0-9a-fA-F\.:]*\) port [0-9]*: no matching key exchange method found. Their offer: \(.*\)/sshd: fatal: Unable to negotiate with \1 port N: no matching key exchange method found. Their offer: \2/
s/sshd\[[0-9]*\]: fatal: no matching mac found: client .* \[preauth\]/sshd: fatal: no matching mac found: client XXXXXX [preauth]/
s/sshd\[[0-9]*\]: message repeated [0-9]* times: \[ Starting session: command for \(.*\) from \([0-9a-fA-F\.:]*\) port [0-9]*\]/sshd: message repeated N times: [ Starting session: command for \1 from \2 port N]/
s/sshd\[[0-9]*\]: error: maximum authentication attempts exceeded for root from \([0-9a-fA-F\.:]*\) port [0-9]* ssh2/sshd: error: maximum authentication attempts exceeded for root from \1 port N ssh2/
s/sshd\[[0-9]*\]: Accepted \(.*\) for \(.*\) from \([0-9a-fA-F\.:]*\) port [0-9]* ssh2/sshd: Accepted \1 for \2 from \3 port N ssh2/
s/sshd\[[0-9]*\]: Starting session: subsystem '\(.*\)' for \(.*\) from \([0-9a-fA-F\.:]*\) port [0-9]* id [0-9]*/sshd: Starting session: subsystem '\1' for \2 from \3 port N id X/
s/sshd\[[0-9]*\]: Connection closed by authenticating user \(.*\) \([0-9a-fA-F\.:]*\) port [0-9]*/sshd: Connection closed by authenticating user \1 \2 port X/
s/sshd\[[0-9]*\]: Unable to negotiate with \([0-9a-fA-F\.:]*\) port [0-9]*: /sshd: Unable to negotiate with \1 port N: /
s/sshd\[[0-9]*\]: Did not receive identification string from \([0-9a-fA-F\.:]*\) port [0-9]*/sshd: Did not receive identification string from \1 port N/
s/sshd\[[0-9]*\]: Connection closed by invalid user \(.*\) \([0-9a-fA-F\.:]*\) port [0-9]*/sshd: Connection closed by invalid user \1 \2 port N/
s/sshd\[[0-9]*\]: Disconnected from authenticating user \(.*\) \([0-9a-fA-F\.:]*\) port [0-9]*/sshd: Disconnected from authenticating user \1 \2 port N/
s/sshd\[[0-9]*\]: Closing connection to \([0-9a-fA-F\.:]*\) port [0-9]*/sshd: Closing connection to \1 port N/
s/sshd\[[0-9]*\]: User child is on pid [0-9]*/sshd: sshd: User child is on pid N/
s/systemd\[[0-9]*\]: \(.*\).service: Found left-over process [0-9]* (\(.*\)) in control group while starting unit. Ignoring./systemd: \1.service: Found left-over process X (\2) in control group while starting unit. Ignoring./
s/systemd\[[0-9]*\]: \(.*\).service: Unit process [0-9]* (\(.*\)) remains running after unit stopped./systemd: \1.service: Unit process X (\2) remains running after unit stopped./
s/sftp-server\[[0-9]*\]: close "\(.*\)" bytes read 0 written [0-9]*/sftp-server: close "\1" bytes read 0 written N/
s/sftp-server\[[0-9]*\]: close "\(.*\)" bytes read [0-9]* written 0/sftp-server: close "\1" bytes read N written 0/
s/sshd\[[0-9]*\]: message repeated [0-9]* times: \[ error: channel 0: chan_read_failed for istate 1\]/sshd: message repeated N times: [ error: channel 0: chan_read_failed for istate 1]/
s/sshd\[[0-9]*\]: refused local port forward: originator \(.*\) port [0-9]*, target \(.*\) port \([0-9]*\)/sshd: refused local port forward: originator \1 port N, target \2 port \3/
{% if (ansible_distribution == 'Debian' and ansible_distribution_major_version|int > 10) or
      (ansible_distribution == 'Ubuntu' and ansible_distribution_major_version|int > 20) %}
# for other sftp-server logs
s/sftp-server\[[0-9]*\]: /sftp-server: /
s/sshd\[[0-9]*\]: /sshd: /
{% endif %}

### kernel
s/kernel: \[[0-9]*\.[0-9]*\] /kernel: [N.N] /
s/kernel: \[\s*[0-9]*\.[0-9]*\] /kernel: [ N.N] /
s/kernel: \[[0-9N]*\.[0-9N]*\] \(.*\): renamed from veth\([A-Za-z0-9]*\)/kernel: [N.N] \1: renamed from vethXXXXXX/
s/kernel: \[[0-9N]*\.[0-9N]*\] veth\([A-Za-z0-9]*\): renamed from \(.*\)/kernel: [N.N] vethXXXXXX: renamed from \1/
s/device veth[A-Za-z0-9]* entered promiscuous mode/device vethXXXXXX entered promiscuous mode/
s/device veth[A-Za-z0-9]* left promiscuous mode/device vethXXXXXX left promiscuous mode/
/kernel: \[[0-9N]*\.[0-9N]*\] \[[0-9a-f]*\] \[[0-9a-f]*\] \[[0-9a-f]*\] \[[0-9a-f]*\]/d
/kernel: \[[0-9N]*\.[0-9N]*\] Call Trace:/d
/kernel: \[[0-9N]*\.[0-9N]*\] Code: [0-9a-f]* [0-9a-f]* [0-9a-f]* [0-9a-f]* .*/d
/kernel: Code: [0-9a-f]* [0-9a-f]* [0-9a-f]* [0-9a-f]* .*/d
/kernel: \[\s*[0-9]*] [0-9]* [0-9]* .*/d
/kernel: vmalloc [0-9]*$/d
/kernel: pglazyfree [0-9]*$/d
/kernel: percpu [0-9]*$/d
/kernel: kernel_stack [0-9]*$/d
/kernel: sock [0-9]*$/d
/kernel: shmem [0-9]*$/d
/kernel: \[[0-9N ]*\.[0-9N ]*\] anon [0-9]*$/d
/kernel: \[[0-9N ]*\.[0-9N ]*\] active_file [0-9]*$/d
/kernel: \[[0-9N ]*\.[0-9N ]*\] file [0-9]*$/d
/kernel: \[[0-9N ]*\.[0-9N ]*\] file_dirty [0-9]*$/d
/kernel: \[[0-9N ]*\.[0-9N ]*\] file_mapped [0-9]*$/d
/kernel: \[[0-9N ]*\.[0-9N ]*\] file_thp [0-9]*$/d
/kernel: \[[0-9N ]*\.[0-9N ]*\] inactive_file [0-9]*$/d
/kernel: \[[0-9N ]*\.[0-9N ]*\] kernel [0-9]*$/d
/kernel: \[[0-9N ]*\.[0-9N ]*\] kernel_stack [0-9]*$/d
/kernel: \[[0-9N ]*\.[0-9N ]*\] pagetables [0-9]*$/d
/kernel: \[[0-9N ]*\.[0-9N ]*\] percpu [0-9]*$/d
/kernel: \[[0-9N ]*\.[0-9N ]*\] pgactivate [0-9]*$/d
/kernel: \[[0-9N ]*\.[0-9N ]*\] pgfault [0-9]*$/d
/kernel: \[[0-9N ]*\.[0-9N ]*\] pglazyfree [0-9]*$/d
/kernel: \[[0-9N ]*\.[0-9N ]*\] pglazyfreed [0-9]*$/d
/kernel: \[[0-9N ]*\.[0-9N ]*\] pgmajfault [0-9]*$/d
/kernel: \[[0-9N ]*\.[0-9N ]*\] pgrefill [0-9]*$/d
/kernel: \[[0-9N ]*\.[0-9N ]*\] pgscan [0-9]*$/d
/kernel: \[[0-9N ]*\.[0-9N ]*\] pgscan_direct [0-9]*$/d
/kernel: \[[0-9N ]*\.[0-9N ]*\] pgsteal [0-9]*$/d
/kernel: \[[0-9N ]*\.[0-9N ]*\] pgsteal_direct [0-9]*$/d
/kernel: \[[0-9N ]*\.[0-9N ]*\] slab_reclaimable [0-9]*$/d
/kernel: \[[0-9N ]*\.[0-9N ]*\] slab_unreclaimable [0-9]*$/d
/kernel: \[[0-9N ]*\.[0-9N ]*\] slab [0-9]*$/d
/kernel: \[[0-9N ]*\.[0-9N ]*\] sock [0-9]*$/d
/kernel: \[[0-9N ]*\.[0-9N ]*\] shmem [0-9]*$/d
/kernel: \[[0-9N ]*\.[0-9N ]*\] swapcached [0-9]*$/d
/kernel: \[[0-9N ]*\.[0-9N ]*\] vmalloc [0-9]*$/d
/kernel: \[[0-9N ]*\.[0-9N ]*\] workingset_[a-z_]* [0-9]*$/d
/kernel: \[[0-9N ]*\.[0-9N ]*\] zswpwb [0-9]*$/d
/kernel: \[[0-9N ]*\.[0-9N ]*\] zswpout [0-9]*$/d
/kernel: \[[0-9N ]*\.[0-9N ]*\] zswpin [0-9]*$/d
/kernel: \[[0-9N ]*\.[0-9N ]*\] zswapped [0-9]*$/d
/kernel: \[[0-9N ]*\.[0-9N ]*\] zswap [0-9]*$/d
/kernel: \[[0-9N ]*\.[0-9N ]*\] unevictable [0-9]*$/d
/kernel: \[[0-9N ]*\.[0-9N ]*\] tg3 [0-9]*:[0-9]*:[0-9]*\.[0-9]* [a-z0-9]*: 0x[0-9a-f]*: 0x[0-9a-f]*, .*/d
/kernel: .*RAX: [0-9a-f]* R.*/d
/kernel: RSP: [0-9a-f]*: [0-9a-f]* .*$/d
/kernel: RDX: [0-9a-f]* RSI: [0-9a-f]* RDI: [0-9a-f]*$/d
/kernel: RBP: [0-9a-f]* R[0-9]*: [0-9a-f]* R[0-9]*: [0-9a-f]*$/d
/kernel: .*RIP: [0-9a-f]*:0x[0-9a-f]*/d
/kernel: .*R[0-9]*: [0-9a-f]* R[0-9]*: [0-9a-f]* R[0-9]*: [0-9a-f]*/d
/kernel: \[[0-9N]*\.[0-9N]*\]  \[\<[0-9a-f]*\>\] .*+0x[0-9a-f]*\/0x[0-9a-f]*/d
s/kernel: \[[0-9N]*\.[0-9N]*\] init: \(.*\) main process ([0-9]*) terminated with status \([0-9]*\)/kernel: [N.N] init: \1 main process (N) terminated with status \2/
s/kernel: \[[0-9]*\.[0-9]*\] Out of memory: Kill process [0-9]* (\(.*\)) score [0-9]* or sacrifice child/kernel: [N.N] Out of memory: Kill process X (\1) score X or sacrifice child/
s/kernel: \[[0-9N]*\.[0-9N]*\] \[[0-9]*\]\s*[0-9]*\s*[0-9]*\s*[0-9]*\s*[0-9]*\s*[0-9]*\s*[0-9]*\s*[0-9]*\s*[0-9]*\s*.*//
s/kernel: \[[0-9N]*\.[0-9N]*\] audit: audit_lost=[0-9]* audit_rate_limit=\([0-9]*\) audit_backlog_limit=\([0-9]*\)/kernel: [N.N] audit: audit_lost=X audit_rate_limit=\1 audit_backlog_limit=\2/
s/kernel: \[[0-9N]*\.[0-9N]*\] audit: audit([0-9]*\.[0-9]*:[0-9]*): proctitle="\(.*\)"/kernel: [N.N] audit: audit(NNN.N:NNN): proctitle="\1"/
s/kernel: \[[0-9N]*\.[0-9N]*\] audit: audit([0-9]*\.[0-9]*:[0-9]*): proctitle=[A-Z0-9]*/kernel: [N.N] audit: audit(NNN.N:NNN): proctitle=XXXXXX/
# kernel: [ N.N] audit: type=1400 audit(1721020997.828:34645): apparmor="ALLOWED" operation="open" profile="/opt/osquery/bin/osqueryd" name="/etc/passwd" pid=738
# kernel: audit: type=1400 audit(1721090019.920:36796): apparmor="DENIED" operation="mount" info="failed flags match" error=-13 profile="lxc-218_</var/lib/lxc>" name="/run/systemd/unit-root/proc/" pid=335599 comm="(find)" fstype="proc" srcname="proc" flags="rw, nosuid, nodev, noexec"
s/kernel: \[[0-9N]*\.[0-9N]*\] audit: type=1400 audit([0-9]*\.[0-9]*:[0-9]*): apparmor="\(.*\)" \(.*\) pid=[0-9]* /kernel: [N.N] audit: type=1400 audit(NNN.N:NNN): apparmor="\1" \2 pid=N /
s/kernel: audit: type=1400 audit([0-9]*\.[0-9]*:[0-9]*): apparmor="\(.*\)" \(.*\) pid=[0-9]* /kernel: audit: type=1400 audit(NNN.N:NNN): apparmor="\1" \2 pid=N /
# with and without class field
s/kernel: audit: type=1400 audit([0-9N]*\.[0-9N]*:[0-9N]*): apparmor="\(.*\)" operation="\(.*\)" class="\(.*\)" info="\(.*\)" error=\([0-9\-]*\) profile="lxc-[0-9]*_<\/var\/lib\/lxc>" name=".*" pid=[0-9N]* comm="\(.*\)" fstype="\(.*\)" srcname="\(.*\)" flags="\(.*\)"/kernel: audit: type=1400 audit(NNN.N:NNN): apparmor="\1" operation="\2" class="\3" info="\4" error=\5 profile="lxc-N_<\/var\/lib\/lxc>" name="XXX" pid=N comm="\6" fstype="\7" srcname="\8" flags="\9"/
s/kernel: audit: type=1400 audit([0-9N]*\.[0-9N]*:[0-9N]*): apparmor="\(.*\)" operation="\(.*\)" info="\(.*\)" error=\([0-9\-]*\) profile="lxc-[0-9]*_<\/var\/lib\/lxc>" name=".*" pid=[0-9N]* comm="\(.*\)" fstype="\(.*\)" srcname="\(.*\)" flags="\(.*\)"/kernel: audit: type=1400 audit(NNN.N:NNN): apparmor="\1" operation="\2" info="\3" error=\4 profile="lxc-N_<\/var\/lib\/lxc>" name="XXX" pid=N comm="\5" fstype="\6" srcname="\7" flags="\8"/
s/kernel: .*audit: type=1400 audit([0-9N]*\.[0-9N]*:[0-9N]*): apparmor="\(.*\)" operation="\(.*\)" class="\(.*\)" info="\(.*\)" error=\([0-9\-]*\) profile="lxc-[0-9N]*_<\/var\/lib\/lxc>" name=".*" pid=[0-9N]* comm="\(.*\)" /kernel: audit: type=1400 audit(NNN.N:NNN): apparmor="\1" operation="\2" class="\3" info="\4" error=\5 profile="lxc-N_<\/var\/lib\/lxc>" name="XXX" pid=N comm="\6" /
s/kernel: .*audit: type=1400 audit([0-9N]*\.[0-9N]*:[0-9N]*): apparmor="\(.*\)" operation="\(.*\)" class="\(.*\)" profile="\(.*\)" pid=[0-9N]* comm="\(.*\)" /kernel: audit: type=1400 audit(NNN.N:NNN): apparmor="\1" operation="\2" class="\3" profile="\4" pid=N comm="\5" /

s/kernel: .*audit: type=1400 audit([0-9N]*\.[0-9N]*:[0-9N]*): apparmor="\(.*\)" \(.*\)label="lxc-[0-9]*_<\/var\/lib\/lxc>\/\/&:lxc-[0-9]*_<-var-lib-lxc>:unconfined" name=".*" pid=[0-9N]* comm="\(.*\)" /kernel: audit: type=1400 audit(NNN.N:NNN): apparmor="\1" \2label="lxc-N_<\/var\/lib\/lxc>\/\/&:lxc-N_<-var-lib-lxc>:unconfined" name="XXX" pid=N comm="\3" /
s/lxc-[0-9]*_/lxc-N_/g

# ubuntu_pro_apt_news
s/audit: type=1400 audit(NNN.N:NNN): apparmor=\(.*\) name="\(.*\)\/#[0-9]*" pid=/audit: type=1400 audit(NNN.N:NNN): apparmor=\1 name="\2\/#NNN" pid=/
s/audit: type=1400 audit(NNN.N:NNN): apparmor=\(.*\) name="\(.*\)\/#[0-9]*" pid=/audit: type=1400 audit(NNN.N:NNN): apparmor=\1 name="\2\/clearsigned.message.XXX" pid=/
# proxmox
# s/profile="lxc-[0-9]*_<\/var\/lib\/lxc>" name="\/run\/systemd\/namespace-[0-9A-Za-z]*\/" pid=/profile="lxc-N_<\/var\/lib\/lxc>" name="\/run\/systemd\/namespace-XXX\/" pid=/
s/profile="lxc-[0-9]*_<\/var\/lib\/lxc>" name=".*" pid=/profile="lxc-N_<\/var\/lib\/lxc>" name="XXX" pid=/
s/audit\[[0-9]*\]\: AVC apparmor="ALLOWED" operation="open" class="file" profile="\/opt\/osquery\/bin\/osqueryd" name=".*" pid=[0-9]* comm="\(.*\)" requested_mask="\([a-z]*\)" denied_mask="\([a-z]*\)" fsuid=\([0-9]*\) ouid=\([0-9]*\)/audit: AVC apparmor="ALLOWED" operation="open" class="file" profile="\/opt\/osquery\/bin\/osqueryd" name="XXX" pid=N comm="\1" requested_mask="\2" denied_mask="\3" fsuid=\4 ouid=\5/
s/audit\[[0-9]*\]\(.*\) AVC apparmor=\(.*\) pid=[0-9]* comm=/audit\1 AVC apparmor=\2 pid=N comm=/
s/audit\(.*\) AVC apparmor=\(.*\) name="\(.*\)" pid=[0-9]*$/audit\1 AVC apparmor=\1 name="\2" pid=N/
s/kernel: audit: type=\([0-9]*\) audit([0-9]*\.[0-9]*:[0-9]*): proctitle="\(.*\)"/kernel: audit: type=\1 audit(NNN.NNN:NNN): proctitle="\2"/
s/kernel: audit: type=\([0-9]*\) audit([0-9]*\.[0-9]*:[0-9]*): proctitle=[0-9A-F]*/kernel: audit: type=\1 audit(NNN.NNN:NNN): proctitle=XXXXXX/
s/kernel: \[ N\.N\] audit: type=\([0-9]*\) audit([0-9]*\.[0-9]*:[0-9]*): proctitle=[0-9A-F]*/kernel: [ N.N] audit: type=\1 audit(NNN.NNN:NNN): proctitle=XXXXXX/
s/kernel: audit: type=\([0-9]*\) audit([0-9]*\.[0-9]*:[0-9]*): cwd="\(.*\)"/kernel: audit: type=\1 audit(NNN.NNN:NNN): cwd="\2"/
s/kernel: \[ N\.N\] audit: type=\([0-9]*\) audit([0-9]*\.[0-9]*:[0-9]*): cwd="\(.*\)"/kernel: [ N.N] audit: type=\1 audit(NNN.NNN:NNN): cwd="\2"/
s/kernel: audit: type=\([0-9]*\) audit([0-9]*\.[0-9]*:[0-9]*): \(.*\) ppid=\([0-9]*\) pid=\([0-9]*\) /kernel: audit: type=\1 audit(NNN.NNN:NNN): \2 ppid=N pid=N /
# kernel: [N.N] audit: type=1300 audit(1722717740.766:3348033): arch=c000003e syscall=157 success=yes exit=0 a0=23 a1=9 a2=7ff2cb8db009 a3=0 items=0 ppid=1 pid=1073288 auid=4294967295 uid=0 gid=0 euid=0 suid=0 fsuid=0 egid=0 sgid=0 fsgid=0 tty=(none) ses=4294967295 comm="(auditd)" exe="/usr/lib/systemd/systemd" subj=unconfined key="uncommon_syscalls"
s/kernel: \[N\.N\] audit: type=\([0-9]*\) audit([0-9]*\.[0-9]*:[0-9]*): \(.*\) ppid=\([0-9]*\) pid=\([0-9]*\) /kernel: [N.N] audit: type=\1 audit(NNN.NNN:NNN): \2 ppid=N pid=N /
s/kernel: audit: type=\([0-9]*\) audit([0-9]*\.[0-9]*:[0-9]*): opid=\([0-9]*\) /kernel: audit: type=\1 audit(NNN.NNN:NNN): opid=N /
s/kernel: \[[ 0-9N]*\.[0-9N]*\] audit_log_start: [0-9]* callbacks suppressed/kernel: [N.N] audit_log_start: X callbacks suppressed/
s/kernel: \[[ 0-9N]*\.[0-9N]*\] kauditd_printk_skb: [0-9]* callbacks suppressed/kernel: [N.N] kauditd_printk_skb: X callbacks suppressed/
s/kernel: kauditd_printk_skb: [0-9]* callbacks suppressed/kernel: kauditd_printk_skb: X callbacks suppressed/
s/kernel: \[[ 0-9N]*\.[0-9N]*\] net_ratelimit: [0-9]* callbacks suppressed/kernel: [N.N] net_ratelimit: X callbacks suppressed/
s/kernel: \[[ 0-9N]*\.[0-9N]*\] \(.*\)\[[0-9]*\]: segfault at \(.*\) ip [0-9a-f]* sp [0-9a-f]* error \([0-9]*\) in \(.*\)\[[0-9a-f]*\+[0-9a-f]*\]/kernel: [N.N] \1: segfault at \2 ip HHH sp HHH error \3 in \4[HH+HH]/
# kernel: [N.N] EXT4-fs (loop3): last error at time 1720674471: ext4_journal_check_start:83
# kernel: EXT4-fs (loop0): last error at time 1720674097: ext4_check_bdev_write_error:217
s/kernel: \[N.N\] EXT4-fs (loop[0-9]*): last error at time [0-9]*: \(.*\)/kernel: [N.N] EXT4-fs (loopX): last error at time N: \1/
s/kernel: EXT4-fs (loop[0-9]*): last error at time [0-9]*: \(.*\)/kernel: EXT4-fs (loopX): last error at time N: \1/
# kernel: [N.N] EXT4-fs (loop3): initial error at time 1720674081: kmmpd:187
s/kernel: \[N.N\] EXT4-fs (loop[0-9]*): initial error at time [0-9]*: kmmpd:187/kernel: [N.N] EXT4-fs (loopX): initial error at time N: kmmpd:187/
s/kernel: EXT4-fs (loop[0-9]*): initial error at time [0-9]*: kmmpd:187/kernel: EXT4-fs (loopX): initial error at time N: kmmpd:187/
s/kernel: \[N.N\] EXT4-fs (loop[0-9]*): error count since last fsck: [0-9]*/kernel: [N.N] EXT4-fs (loopX): error count since last fsck: N/
s/kernel: EXT4-fs (loop[0-9]*): error count since last fsck: [0-9]*/kernel: EXT4-fs (loopX): error count since last fsck: N/
s/kernel: traps: \(.*\)\[[0-9]*\] general protection fault ip:[0-9a-f]* sp:[0-9a-f]* error:[0-9]* in \(.*\)\[[0-9a-f]*+[0-9a-f]*\]/kernel: traps: \1 general protection fault ip:HHH sp:HHH error:N in \2[HHH+HHH]/
s/kernel: \[[0-9N]*\.[0-9N]*\] traps: \(.*\)\[[0-9]*\] general protection fault ip:[0-9a-f]* sp:[0-9a-f]* error:[0-9]* in \(.*\)\[[0-9a-f]*+[0-9a-f]*\]/kernel: traps: \1 general protection fault ip:HHH sp:HHH error:N in \2[HHH+HHH]/
s/kernel: traps: \(.*\)\[[0-9]*\] trap \(.*\) ip:[0-9a-f]* sp:[0-9a-f]* error:[0-9]* in \(.*\)\[[0-9a-f]*+[0-9a-f]*\]/kernel: traps: \1 trap \2 ip:HHH sp:HHH error:N in \3[HHH+HHH]/
s/kernel: \[[0-9N]*\.[0-9N]*\] traps: \(.*\)\[[0-9]*\] trap \(.*\) ip:[0-9a-f]* sp:[0-9a-f]* error:[0-9]* in \(.*\)\[[0-9a-f]*+[0-9a-f]*\]/kernel: [N.N] traps: \1 trap \2 ip:HHH sp:HHH error:N in \3[HHH+HHH]/

# kernel: squid[55680]: segfault at ffffffffffffffe8 ip 0000564ccbdf08e8 sp 00007ffd117ccd80 error 5 in squid[564ccbc16000+48f000]
s/kernel: \(.*\)\[[0-9]*\]: segfault at [0-9a-f]* ip [0-9a-f]* sp [0-9a-f]* error [0-9]* in \(.*\)\[[0-9a-f]*+[0-9a-f]*\]/kernel: \1: segfault at HHH ip HHH sp HHH error N in \2[HHH+HHH]/
# s/kernel: \(.*\): segfault at [0-9a-f]* ip [0-9a-f]* sp [0-9a-f]* error [0-9]* in \(.*\)\[[0-9a-f]*+[0-9a-f]*\]/kernel: \1: segfault at HHH ip HHH sp HHH error N in \2[HHH+HHH]/
s/kernel: ll header: \([09]*\): \([0-9a-f]*\) \([0-9a-f]*\) \([0-9a-f]*\) [0-9a-f]* [0-9a-f]* [0-9a-f]* [0-9a-f]* [0-9a-f]* [0-9a-f]* [0-9a-f]* [0-9a-f]* [0-9a-f]* [0-9a-f]* [0-9a-f]* [0-9a-f]* [0-9a-f]*/kernel: ll header: \1: \2 \3 \4 HH HH HH HH HH HH HH HH HH HH HH HH HH/
s/kernel: .*overlayfs: fs on '\/var\/lib\/docker\/\(.*\)\([0-9]*\)\/l[0-9]*' does not support file handles, falling back to xino=off./kernel: overlayfs: fs on '\/var\/lib\/docker\/\1NNN\/lN' does not support file handles, falling back to xino=off./
s/kernel: .*overlayfs: fs on '\/var\/lib\/docker\/\(.*\)\([0-9]*\)\/lower[0-9]*' does not support file handles, falling back to xino=off./kernel: overlayfs: fs on '\/var\/lib\/docker\/\1NNN\/lowerN' does not support file handles, falling back to xino=off./
s/kernel: .*overlayfs: fs on '\/var\/lib\/\(.*\)\/[A-Z0-9]*' does not support file handles, falling back to xino=off./kernel: overlayfs: fs on '\/var\/lib\/\1\/XXX' does not support file handles, falling back to xino=off./

### iptables
s/iptables denied: IN=\(.*\) OUT=\(.*\) MAC=\(.*\) SRC=\(.*\) DST=\(.*\) LEN=[0-9]* TOS=0x[0-9]* PREC=0x[0-9]* TTL=[0-9]* ID=[0-9]* \(.*\)PROTO=\(.*\) SPT=[0-9]* DPT=\([0-9]*\)/ iptables denied: IN=\1 OUT=\2 MAC=MAC-XXX SRC=\4 DST=\5 LEN=X TOS=0xX PREC=0xX TTL=X ID=X \6PROTO=\7 SPT=X DPT=\8/
## optional fields
s/iptables denied: \(.*\) WINDOW=[0-9]*/iptables denied: \1 WINDOW=X/
s/iptables denied: \(.*\) LEN=[0-9]*/iptables denied: \1 LEN=X/
s/iptables: \[NOMATCH\] IN=\(.*\) OUT=\(.*\) MAC=\(.*\) SRC=\(.*\) DST=\(.*\) LEN=[0-9]* TOS=0x[0-9]* PREC=0x[0-9]* TTL=[0-9]* ID=[0-9]* \(.*\)PROTO=\(.*\) SPT=[0-9]* DPT=\([0-9]*\) LEN=[0-9]*/ iptables: [NOMATCH] IN=\1 OUT=\2 MAC=MAC-XXX SRC=\4 DST=\5 LEN=X TOS=0xX PREC=0xX TTL=X ID=X \6PROTO=\7 SPT=X DPT=\8 LEN=N/
s/iptables: \[NOMATCH\] IN=\(.*\) OUT=\(.*\) SRC=\(.*\) DST=\(.*\) LEN=[0-9]* TOS=0x[0-9]* PREC=0x[0-9]* TTL=[0-9]* ID=[0-9]* \(.*\)PROTO=\(.*\) SPT=[0-9]* DPT=\([0-9]*\) LEN=[0-9]*/ iptables: [NOMATCH] IN=\1 OUT=\2 SRC=\3 DST=\4 LEN=X TOS=0xX PREC=0xX TTL=X ID=X \5PROTO=\6 SPT=X DPT=\7 LEN=N/
s/iptables: \[NOMATCH\] IN=\(.*\) OUT=\(.*\) SRC=\(.*\) DST=\(.*\) LEN=[0-9]* TOS=0x[0-9]* PREC=0x[0-9]* TTL=[0-9]* ID=[0-9]* \(.*\)PROTO=\(.*\) SPT=[0-9]* DPT=\([0-9]*\) WINDOW=[0-9]*/ iptables: [NOMATCH] IN=\1 OUT=\2 SRC=\3 DST=\4 LEN=X TOS=0xX PREC=0xX TTL=X ID=X \5PROTO=\6 SPT=X DPT=\7 WINDOW=N/

### systemd
s/systemd\[[0-9]*\]: Started Session [0-9]* of user \(.*\)/systemd: Started Session N of user \1/
s/systemd-logind\[[0-9]*\]: New session [0-9]* of user \(.*\)/systemd-logind: New session N of user \1/
s/systemd\[[0-9]*\]: Received SIGRTMIN+24 from PID [0-9]* (\(.*\))./systemd: Received SIGRTMIN+24 from PID N (\1)./
s/systemd-udevd\[[0-9]*\]: Could not generate persistent MAC address for veth[A-Za-z0-9]*: No such file or directory/systemd-udevd: Could not generate persistent MAC address for vethXXXXXX: No such file or directory/
s/.service: Scheduled restart job, restart counter is at [0-9]*./.service: Scheduled restart job, restart counter is at X./
s/systemd\[[0-9]*\]: \(.*\).service: Killing process [0-9]* (\(.*\)) with signal \(.*\)./systemd: \1.service: Killing process X (\2) with signal \3./
s/systemd\[[0-9]*\]: Started snap.\(.*\)\.[0-9a-f]*-[0-9a-f]*-[0-9a-f]*-[0-9a-f]*-[0-9a-f]*\.scope/systemd: Started snap.\1.GUID.scope/
s/systemd\[[0-9]*\]: \(.*\).service: Consumed [0-9]*\.[0-9]*s CPU time/systemd: \1.service: Consumed N.Ns CPU time/
s/systemd\[[0-9]*\]: \(.*\).service: Consumed [0-9]*min [0-9]*\.[0-9]*s CPU time/systemd: \1.service: Consumed Nmin N.Ns CPU time/
s/systemd\[[0-9]*\]: session-[0-9]*.scope: Consumed [0-9]*\.[0-9]*s CPU time/systemd: session-N.scope: Consumed N.Ns CPU time/
s/systemd\[[0-9]*\]: session-[0-9]*.scope: Consumed [0-9]*min [0-9]*\.[0-9]*s CPU time/systemd: session-N.scope: Consumed Nmin N.Ns CPU time/
# systemd[1]: Started snap.canonical-livepatch.canonical-livepatch-f1a5810b-b5ed-4d39-a4a9-4700884f9773.scope.
s/systemd\[1\]: Started snap.canonical-livepatch.canonical-livepatch-[a-f0-9]*-[a-f0-9]*-[0-9]*-[a-f0-9]*-[a-f0-9]*.scope./systemd[1]: Started snap.canonical-livepatch.canonical-livepatch-HHH-HHH-NNN-HHH-HHH.scope./
# systemd[1]: snap.canonical-livepatch.canonical-livepatch-fad3f2a8-b690-4552-84b3-3d07c4c7c5ca.scope: Deactivated successfully.
s/systemd\[1\]: snap.canonical-livepatch.canonical-livepatch-[a-f0-9]*-[a-f0-9]*-[0-9]*-[a-f0-9]*-[a-f0-9]*.scope: Deactivated successfully./systemd[1]: snap.canonical-livepatch.canonical-livepatch-HHH-HHH-NNN-HHH-HHH.scope: Deactivated successfully./
s/systemd-journald\[[0-9]*\]: Suppressed [0-9]* messages from \(.*\)/systemd-journald: Suppressed N messages from \1/
s/failed, retrying in [0-9m]*s./failed, retrying in T./
s/\(.*\)\[[0-9]*\]: Starting/\1: Starting/
s/\(.*\)\[[0-9]*\]: Stopping/\1: Stopping/
s/\(.*\)\[[0-9]*\]: Launching/\1: Launching/
s/systemd-journald\[[0-9]*\]: \/var\/log\/journal\/[0-9a-f]*\/user-[0-9]*.journal: Journal header limits reached or header out-of-date, rotating./systemd-journald: \/var\/log\/journal\/HHH\/user-N.journal: Journal header limits reached or header out-of-date, rotating./
s/systemd-journald\[[0-9]*\]: \/var\/log\/journal\/[0-9a-f]*\/\(.*\).journal: Journal header limits reached or header out-of-date, rotating./systemd-journald: \/var\/log\/journal\/HHH\/\1.journal: Journal header limits reached or header out-of-date, rotating./
s/systemd-journald\[[0-9]*\]: \/var\/log\/journal\/[0-9a-f]\/system.journal: Journal header limits reached or header out-of-date, rotating./systemd-journald: \/var\/log\/journal\/HHH\/system.journal: Journal header limits reached or header out-of-date, rotating./
s/systemd-journald\[[0-9]*\]: Oldest entry in \/var\/log\/journal\/[0-9a-f]*\/user-[0-9]*.journal is older than the configured file retention duration (1month), suggesting rotation./systemd-journald: Oldest entry in \/var\/log\/journal\/HHH\/user-N.journal is older than the configured file retention duration (1month), suggesting rotation./
s/systemd-journald\[[0-9]*\]: Data hash table of \/var\/log\/journal\/[0-9a-f]*\/system.journal has a fill level at [0-9]*\.[0-9]* ([0-9]* of [0-9]* items, [0-9]* file size, [0-9]* bytes per hash table item), suggesting rotation./systemd-journald: Data hash table of \/var\/log\/journal\/HHH\/system.journal has a fill level at N.N (N of N items, N file size, N bytes per hash table item), suggesting rotation./
s/systemd-journal-upload\[[0-9]*\]: Upload to \(.*\) failed: Failed to connect to \(.*\) port [0-9]* after [0-9]* ms: Couldn't connect to server/systemd-journal-upload: Upload to \1 failed: Failed to connect to \2 port N after N ms: Couldn't connect to server/
s/systemd-journal-upload\[[0-9]*\]: Upload to /systemd-journal-upload: Upload to /

### snmpd
s/snmpd\[[0-9]*\]: Connection from UDP: \[\([0-9\.:]*\)\]:[0-9]* ->\[\([0-9\.:]*\)\]:\([0-9]*\)/snmpd: Connection from UDP: [\1]:N ->[\2]:\3/
s/snmpd\[[0-9]*\]: Connection from UDP: \[\([0-9\.:]*\)\]:[0-9]*->\[\([0-9\.:]*\)\]:\([0-9]*\)/snmpd: Connection from UDP: [\1]:N->[\2]:\3/

### lxd-bridge
s/lxdbr\([0-9]*\): port [0-9]*(veth[A-Za-z0-9]*) entered forwarding state/lxdbr\1: port N(vethXXXXXX) entered forwarding state/
s/docker\([0-9]*\): port [0-9]*(veth[A-Za-z0-9]*) entered forwarding state/docker\1: port N(vethXXXXXX) entered forwarding state/
s/lxdbr0: port [0-9]*(veth[A-Za-z0-9]*) entered disabled state/lxdbr0: port N(vethXXXXXX) entered disabled state/

### ansible
s/ansible-async_wrapper: [0-9]* still running ([0-9]*)/ansible-async_wrapper: N still running (N)/
s/ansible-async_wrapper.py: [0-9]* still running ([0-9]*)/ansible-async_wrapper.py: N still running (N)/
s/COMMAND=\/bin\/sh -c echo BECOME-SUCCESS-[a-z]* ;/COMMAND=\/bin\/sh -c echo BECOME-SUCCESS-xxxxxx ;/
s/COMMAND=\/bin\/sh -c 'echo BECOME-SUCCESS-[a-z]* ;/COMMAND=\/bin\/sh -c 'echo BECOME-SUCCESS-xxxxxx ;/
# s/\/.ansible\/tmp\/ansible-tmp-[0-9]*\.[0-9]*-[0-9]*-[0-9]*\/AnsiballZ_\(.*\).py/\/.ansible\/tmp\/ansible-tmp-N.N-N-N\/AnsiballZ_\1.py/
s/\/.ansible\/tmp\/ansible-tmp-[0-9]*\.[0-9]*-[0-9]*-[0-9]*\/AnsiballZ_\(.*\).py/\/.ansible\/tmp\/ansible-tmp-N.N-N-N\/AnsiballZ_#MODULE#.py/
s/\/.ansible\/tmp\/ansible-tmp-[0-9]*\.[0-9]*-[0-9]*-[0-9]*/\/.ansible\/tmp\/ansible-tmp-N.N-N-N/
s/\/tmp\/ansible-tmp-[0-9]*\.[0-9]*-[0-9]*-[0-9]*\/AnsiballZ_\(.*\).py/\/tmp\/ansible-tmp-N.N-N-N\/AnsiballZ_\1.py/
s/\/tmp\/ansible-tmp-[0-9]*\.[0-9]*-[0-9]*-[0-9]*\/source/\/tmp\/ansible-tmp-N.N-N-N\/source/
s/\/async_wrapper.py j[0-9]* [0-9]* \(.*\)\/.ansible\/tmp\//\/async_wrapper.py jNNN N \1\/.ansible\/tmp\//
s/python3\[[0-9]*\]: ansible-/python3: ansible-/

### ptrace
s/ptrace of pid [0-9]* was attempted by: \(.*\) (pid [0-9]*)/ptrace of pid N was attempted by: \1 (pid M)/

### sysdig
s/sysdig_probe: adding new consumer [0-9a-f]*/sysdig_probe: adding new consumer HEX-XXX/
### falco
#falco: Sun Oct  2 15:31:52 2016: Falco initialized with configuration file /etc/falco.yaml
#falco: Sun Oct  2 15:31:52 2016: Parsed rules from file /etc/falco_rules.yaml
s/falco: [A-Z][a-z]* [A-Z][a-z]*[ ]* [0-9]* [0-9]*:[0-9]*:[0-9]* [0-9]*: /falco: /
#falco: 00:36:05.999146634: Warning Shell spawned by untrusted binary
s/falco: [0-9]*:[0-9]*:[0-9]*\.[0-9]*: /falco: N:N:N.N: /
s/falco: adding new consumer [0-9a-f]*/falco: adding new consumer HHHHHH/
s/falco: deallocating consumer [0-9a-f]*/falco: deallocating consumer HHHHHH/
# falcoctl: 2024-07-04 00:58:16 ERROR unable to retrieve Falco versions, please check if it is running and correctly exposing the version endpoint: unable to get versions from URL
s/falcoctl\[[0-9]*\]: [0-9]*-[0-9]*-[0-9]* [0-9]*:[0-9]*:[0-9]* /falcoctl: YYYY-MM-DD HH:MM:SS /
s/falcoctl: [0-9]*-[0-9]*-[0-9]* [0-9]*:[0-9]*:[0-9]* /falcoctl: YYYY-MM-DD HH:MM:SS /
s/falcoctl\[[0-9]*\]: \(.*\) followerName: ghcr.io\/falcosecurity\/rules\//falcoctl: \1 followerName: ghcr.io\/falcosecurity\/rules\//

### ansible
s/ansible-async_wrapper: Invoked with [0-9]* [0-9]* \(.*\)\/.ansible\/tmp\/ansible-tmp-[0-9]*.[0-9]*-[0-9]*\/\(.*\)/ansible-async_wrapper: Invoked with N N \1\/.ansible\/tmp\/ansible-tmp-N.N-N\/\2/

### osquery
s/osqueryd\[[0-9]*\]: I1222 [0-9]*:[0-9]*:[0-9]*\.[0-9]*  5221 events.cpp:649\] Event publisher failed setup:/osqueryd: I1222 HH:MM:SS.XXXXXX  5221 events.cpp:649] Event publisher failed setup:/
s/osqueryd\[[0-9]*\]: I1221 [0-9]*:[0-9]*:[0-9]*\.[0-9]* 25046 rocksdb.cpp:133\] RocksDB: \[ERROR\] \[JOB 227\] Failed to delete \/var\/osquery\/osquery.db\/[0-9]*.log type=0 #[0-9]* -- IO error: \/var\/osquery\/osquery.db\/[0-9]*.log: Permission denied/ osqueryd: I1221 HH:MM:SS.XXXXXX 25046 rocksdb.cpp:133] RocksDB: [ERROR] [JOB 227] Failed to delete \/var\/osquery\/osquery.db\/NNNNNNN.log type=0 #NNN -- IO error: \/var\/osquery\/osquery.db\/NNNNNN.log: Permission denied/
s/osqueryd\[[0-9]*\]: W120\([0-9]*\) [0-9]*:[0-9]*:[0-9]*\.[0-9]* [0-9 ]* hashing.cpp:133\] Failed to hash \/etc\/resolv.conf.dhclient-new.[0-9]*/osqueryd: W120\1 HH:MM:SS.XXXXXXX N hashing.cpp:133] Failed to hash \/etc\/resolv.conf.dhclient-new.N/
s/osqueryd\[[0-9]*\]: W120\([0-9]*\) [0-9]*:[0-9]*:[0-9]*\.[0-9]* [0-9 ]* hashing.cpp:133\] Failed to hash /osqueryd: W120\1 HH:MM:SS.XXXXXXX N hashing.cpp:133] Failed to hash /
s/kernel: audit: type=1400 audit(NNN.N:NNN): apparmor="ALLOWED" operation="open" class="file" profile="\/opt\/osquery\/bin\/osqueryd" name=".*" pid=N comm="SchedulerRunner" requested_mask="r" denied_mask="r" fsuid=\([0-9]*\) ouid=\([0-9]*\)/kernel: audit: type=1400 audit(NNN.N:NNN): apparmor="ALLOWED" operation="open" class="file" profile="\/opt\/osquery\/bin\/osqueryd" name="XXX" pid=N comm="SchedulerRunner" requested_mask="r" denied_mask="r" fsuid=\1 ouid=\2/
# s/kernel: \[[ 0-9N]*\.[0-9N]*\] audit: type=1400 audit(NNN.N:NNN): apparmor="ALLOWED" operation="open" class="file" profile="\/opt\/osquery\/bin\/osqueryd" name=".*" pid=N comm="SchedulerRunner" requested_mask="r" denied_mask="r" fsuid=\([0-9]*\) ouid=\([0-9]*\)/kernel: [N.N] audit: type=1400 audit(NNN.N:NNN): apparmor="ALLOWED" operation="open" class="file" profile="\/opt\/osquery\/bin\/osqueryd" name="XXX" pid=N comm="SchedulerRunner" requested_mask="r" denied_mask="r" fsuid=\1 ouid=\2/

# kernel: [N.N] audit: type=1400 audit(NNN.N:NNN): apparmor="ALLOWED" operation="open" class="file" profile="/opt/osquery/bin/osqueryd" name="/root/.ssh/" pid=N comm="SchedulerRunner" requested_mask="r" denied_mask="r" fsuid=0 ouid=0
s/kernel: \[[ 0-9N]*\.[0-9N]*\] audit: type=1400 audit([0-9N]*\.[0-9N]*:[0-9N]*): apparmor="ALLOWED" operation="open" class="file" profile="\/opt\/osquery\/bin\/osqueryd" name=".*" pid=[0-9]* comm="\(.*\)" requested_mask="\([a-z]*\)" denied_mask="\([a-z]*\)" fsuid=\([0-9]*\) ouid=\([0-9]*\)/kernel: [N.N] audit: type=1400 audit(NNN.N:NNN): apparmor="ALLOWED" operation="open" class="file" profile="\/opt\/osquery\/bin\/osqueryd" name="XXX" pid=N comm="\1" requested_mask="\2" denied_mask="\3" fsuid=\4 ouid=\5/
s/profile="\/opt\/osquery\/bin\/osqueryd" name=".*" pid=/profile="\/opt\/osquery\/bin\/osqueryd" name="XXX" pid=/

# kernel: [N.N] audit: type=1400 audit(NNN.N:NNN): apparmor="ALLOWED" operation="open" class="file" profile="/opt/osquery/bin/osqueryd" name="/root/.ansible/tmp/ansible-tmp-N.N-N-N/AnsiballZ_copy.py" pid=N comm="" requested_mask="r" denied_mask="r" fsuid=0 ouid=0

### docker
s/docker\[[0-9]*\]: time="[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*\.[0-9]*Z" level=info msg="libcontainerd: new containerd process, pid: [0-9]*"/docker: time="YYYY-MM-DDTHH:MM:SS.NNNNNNZ" level=info msg="libcontainerd: new containerd process, pid: N"/
s/docker\[[0-9]*\]: time="[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*\.[0-9]*Z" level=error msg="containerd: deleting container" error="exit status 1: \"container .* does not exist\\\\none or more of the container deletions failed\\\\n\\""/docker: time="YYYY-MM-DDTHH:MM:SS.NNNNNNZ" level=error msg="containerd: deleting container" error="exit status 1: \"container XXXXXXXX does not exist\\\\none or more of the container deletions failed\\\\n\\""/
s/docker\[[0-9]*\]: time="[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*\.[0-9]*Z" level=/docker: time="YYYY-MM-DDTHH:MM:SS.NNNNNNZ" level=/
s/containerd\[[0-9]*\]: time="[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*\.[0-9]*Z" level=/containerd: time="YYYY-MM-DDTHH:MM:SS.NNNNNNZ" level=/

### digitalocean
s/do-agent\[[0-9]*\]: [0-9]*\/[0-9]*\/[0-9]* [0-9]*:[0-9]*:[0-9]* /do-agent: YYY\/MM\/DD HH:MM:SS /

s/canonical-livepatch\[[0-9]*\]: Retrying request in [0-9]* seconds./canonical-livepatch: Retrying request in X seconds./
s/zed: eid=[0-9]* class=\(.*\) pool_guid=0x[0-9A-F]*/zed: eid=X class=\1 pool_guid=0xNNNNNNN/
s/grafana-server\[[0-9]*\]: time="[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*\.[0-9]*\+\([0-9]*\)" level=/grafana-server: time="YYYY-MM-DDTHH:MM:SS.NNNNNN+\1" level=/
/grafana-server\[[0-9]*\]: .*lvl=info.*/d
s/grafana-server\[[0-9]*\]: t=[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*\+\([0-9]*\)/grafana-server: t=YYYY-MM-DDTHH:MM:SS+\1/
#s/grafana-server\[[0-9]*\]: logger=\(.*\) type=\(.*\) name=\(.*\) t=[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*\.[0-9]*\+\([0-9]*\) /grafana-server: logger=\1 type=\2 name=\3 t=YYYY-MM-DDTHH:MM:SS.NN+\4 /
s/grafana-server\[[0-9]*\]: logger=\(.*\) type=\(.*\) name=\(.*\) t=[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*\.[0-9]*/grafana-server: logger=\1 type=\2 name=\3 t=YYYY-MM-DDTHH:MM:SS.NN/
s/grafana-server\[[0-9]*\]: logger=\(.*\) type=\(.*\) name=\(.*\) t=[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*/grafana-server: logger=\1 type=\2 name=\3 t=YYYY-MM-DDTHH:MM:SS/
s/grafana-server\[[0-9]*\]: logger=cleanup t=[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*\.[0-9]*Z level=info msg="Completed cleanup jobs" duration=[0-9]*\.[0-9]*ms/grafana-server: logger=cleanup t=YYYY-MM-DDTHH:MM:SS.NNZ level=info msg="Completed cleanup jobs" duration=N.Nms/
s/grafana-server\[[0-9]*\]: logger=\(.*\) t=[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*\.[0-9]*/grafana-server: logger=\1 t=YYYY-MM-DDTHH:MM:SS.NN/
s/grafana\[[0-9]*\]: logger=cleanup t=[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*\.[0-9]*Z level=info msg="Completed cleanup jobs" duration=[0-9]*\.[0-9]*ms/grafana: logger=cleanup t=YYYY-MM-DDTHH:MM:SS.NNZ level=info msg="Completed cleanup jobs" duration=N.Nms/
s/grafana\[[0-9]*\]: t=[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*\+\([0-9]*\)/grafana: t=YYYY-MM-DDTHH:MM:SS+\1/
s/grafana\[[0-9]*\]: logger=\(.*\) type=\(.*\) name=\(.*\) t=[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*\.[0-9]*/grafana: logger=\1 type=\2 name=\3 t=YYYY-MM-DDTHH:MM:SS.NN/
s/grafana\[[0-9]*\]: logger=\(.*\) type=\(.*\) name=\(.*\) t=[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*/grafana: logger=\1 type=\2 name=\3 t=YYYY-MM-DDTHH:MM:SS/
# s/grafana\[[0-9]*\]: logger=\(.*\) userId=\(.*\) orgId=\(.*\) uname=\(.*\) t=[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*\.[0-9]*Z level=\(.*\) msg="\(.*\)" method=\(.*\) path=\(.*\) status=\(.*\) remote_addr=\(.*\) time_ms=[0-9]* duration=[0-9]*\.[0-9]*ms size=[0-9]*/grafana: logger=\1 userId=\2 orgId=\3 uname=\4 t=YYYY-MM-DDTHH:MM:SS.NNZ level=\5 msg="\6" method=\7 path=\8 status=\9 remote_addr=\10 time_ms=N duration=N.Nms size=N/
s/grafana\[[0-9]*\]: logger=\(.*\) userId=\(.*\) orgId=\(.*\) uname=\(.*\) t=[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*\.[0-9]*Z level=\(.*\) msg="\(.*\)" method=\(.*\) path=\(.*\) status=\(.*\) remote_addr=/grafana: logger=\1 userId=\2 orgId=\3 uname=\4 t=YYYY-MM-DDTHH:MM:SS.NNZ level=\5 msg="\6" method=\7 path=\8 status=\9 remote_addr=/
s/grafana: \(.*\) remote_addr=\(.*\) time_ms=[0-9]* duration=[0-9]*\.[0-9]*ms size=[0-9]*/grafana: \1 remote_addr=\2 time_ms=N duration=N.Nms size=N/
s/grafana\[[0-9]*\]: logger=\(.*\) t=[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*\.[0-9]*Z level=\(.*\) msg="\(.*\)" duration=[0-9]*\.[0-9]*ms/grafana: logger=\1 t=YYYY-MM-DDTHH:MM:SS.NNZ level=\2 msg="\3" duration=N.Nms/
s/grafana\[[0-9]*\]: logger=\(.*\) t=[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*\.[0-9]*Z level=\(.*\) msg="\(.*\)" error="\(.*\)" duration=[0-9]*\.[0-9]*ms/grafana: logger=\1 t=YYYY-MM-DDTHH:MM:SS.NNZ level=\2 msg="\3" error="\4" duration=N.Nms/
s/grafana\[[0-9]*\]: logger=\(.*\) t=[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*\.[0-9]*Z level=\(.*\) msg="\(.*\)" error="\(.*\)"/grafana: logger=\1 t=YYYY-MM-DDTHH:MM:SS.NNZ level=\2 msg="\3" error="\4"/
s/grafana\[[0-9]*\]: logger=\(.*\) type=\(.*\) name=\(.*\) t=[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*\.[0-9]*Z level=\(.*\) msg="\(.*\)" file=/grafana: logger=\1 type=\2 name=\3 t=YYYY-MM-DDTHH:MM:SS.NNZ level=\2 msg="\4" file=/
s/grafana\[[0-9]*\]: logger=\(.*\) userId=\(.*\) orgId=\(.*\) uname=\(.*\) t=[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*\.[0-9]*Z level=\(.*\) msg="\(.*\)" method=\(.*\) path=\(.*\) status=\(.*\) remote_addr=\(.*\) time_ms=[0-9]* duration=[0-9.]*\(.*\)s size=[0-9]* referer= handler=\(.*\)/grafana: logger=\1 userId=\2 orgId=\3 uname=\4 t=YYYY-MM-DDTHH:MM:SS.NNZ level=\5 msg="\6" method=\7 path=\8 status=\9 remote_addr=\10 time_ms=N duration=N.N\11s size=N referer= handler=\12/
s/grafana\[[0-9]*\]: logger=\(.*\) t=[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*\.[0-9]*Z level=\(.*\) msg="\(.*\)" duration=[0-9]*\.[0-9]*s/grafana: logger=\1 t=YYYY-MM-DDTHH:MM:SS.NNZ level=\2 msg="\3" duration=N.Ns/
s/grafana\[[0-9]*\]: logger=\(.*\) t=[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*\.[0-9]*/grafana: logger=\1 t=YYYY-MM-DDTHH:MM:SS.NN/
/grafana: logger=context .*level=info msg="Request Completed" .*/d
/grafana: logger=plugins.update.checker .*level=info msg="Update check succeeded" .*/d
/grafana: logger=cleanup .*level=info msg="Completed cleanup jobs" .*/d


## snap
s/\(.*\)\.logrotate\[[0-9]*\]: reading config file \/tmp\/tmp\..*/\1.logrotate: reading config file \/tmp\/tmp.XXXXX/
s/\(.*\)\.logrotate\[[0-9]*\]: considering log \/var\/snap\/\(.*\)\/.*/\1.logrotate: considering log \/var\/snap\/\2\/XXXXX/
s/\(.*\)\.logrotate\[[0-9]*\]: rotating pattern: \/var\/snap\/\(.*\)\/.*  weekly/\1.logrotate: rotating pattern: \/var\/snap\/\2\/XXXXX  weekly/
s/\(.*\)\.logrotate\[[0-9]*\]: renaming \/var\/snap\/\(.*\)\.[0-9]*\.gz to \/var\/snap\/\(.*\)\.[0-9]*\.gz (rotatecount [0-9]*, logstart [0-9]*, i [0-9]*),/\1.logrotate: renaming \/var\/snap\/\2.X.gz to \/var\/snap\/\3.X.gz (rotatecount N, logstart N, i N),/
s/\(.*\)\.logrotate\[[0-9]*\]: log \/var\/snap\/\(.*\)\.[0-9]*\.gz doesn't exist/\1.logrotate: log \/var\/snap\/\2.X.gz doesn't exist/
s/\(.*\)\.logrotate\[[0-9]*\]: old log \/var\/snap\/\(.*\)\.[0-9]*\.gz does not exist/\1.logrotate: old log \/var\/snap\/\2.X.gz does not exist/
s/logrotate\[[0-9]*\]: error: /logrotate: error: /

## rsyslog
s/, next retry is \(.*\) \(.*\) \([0-9]*\) [0-9]*:[0-9]*:[0-9]* \([0-9]*\), retry nbr /, next retry is \1 \2 \3 HH:MM:SS \4, retry nbr /
s/rsyslogd\[[0-9]*\]: imjournal: [0-9]* messages lost due to rate-limiting/rsyslogd: imjournal: N messages lost due to rate-limiting/
s/rsyslogd: imjournal: [0-9]* messages lost due to rate-limiting/rsyslogd: imjournal: N messages lost due to rate-limiting/
s/rsyslogd:  message repeated [0-9]* times: /rsyslogd:  message repeated N times: /

## networkd-dispatcher
s/networkd-dispatcher\[[0-9]*\]: ERROR:Unknown interface index [0-9]* seen even after reload/networkd-dispatcher: ERROR:Unknown interface index X seen even after reload/
s/networkd-dispatcher\[[0-9]*\]: WARNING:Unknown index [0-9]* seen, reloading interface list/networkd-dispatcher: WARNING:Unknown index X seen, reloading interface list/

s/hostapd\[[0-9]*\]: \(.*\): STA \([0-9a-f:]*\) RADIUS: starting accounting session [A-F0-9]*/hostapd: \1: STA \2 RADIUS: starting accounting session HHHH/

s/NetworkManager\[[0-9]*\]: <\(.*\)> .*\[[0-9\.]*\] \(device\|policy:\|dhcp6\|manager:\|dhcp4\|Config:\) /NetworkManager: <\1> [TTT] \2 /

## dbus
s/dbus-daemon\[[0-9]*\]: \[system\] The maximum number of pending replies for ":[0-9.]*" (uid=\([0-9]*\) pid=[0-9]* comm="\(.*\)" label="\(.*\)") has been reached (max_replies_per_connection=\([0-9]*\)/dbus-daemon: [system] The maximum number of pending replies for ":N.NNN" (uid=\1 pid=N comm="\2" label="\3") has been reached (max_replies_per_connection=\4)/
s/dbus-daemon\[[0-9]*\]: message repeated [0-9]* times: \[ \[system\] The maximum number of pending replies for ":[0-9.]*" (uid=\([0-9]*\) pid=[0-9]* comm="\(.*\)" label="\(.*\)") has been reached (max_replies_per_connection=\([0-9]*\)\]/dbus-daemon: message repeated X times: [ [system] The maximum number of pending replies for ":N.NNN" (uid=\1 pid=N comm="\2" label="\3") has been reached (max_replies_per_connection=\4)]/
s/dbus-daemon\[[0-9]*\]: message repeated [0-9]* times: \[ \[system\] The maximum number of pending replies for ":[0-9]*\.[0-9]*" (uid=\([0-9]*\) pid=[0-9]* comm="\(.*\)" label="\(.*\)") has been reached (max_replies_per_connection=\([0-9]*\)\]/dbus-daemon: message repeated X times: [ [system] The maximum number of pending replies for ":N.NNN" (uid=\1 pid=N comm="\2" label="\3") has been reached (max_replies_per_connection=\4)]/
s/dbus-daemon\[[0-9]*\]: message repeated [0-9]* times: /dbus-daemon: message repeated X times: /
s/\[system\] The maximum number of pending replies for ":[0-9]*\.[0-9]*" /[system] The maximum number of pending replies for ":N.NNN" /
# dbus-daemon[644]: [system] Activating via systemd: service name='org.freedesktop.timedate1' unit='dbus-org.freedesktop.timedate1.service' requested by ':1.11459' (uid=0 pid=861278 comm="/usr/bin/timedatectl " label="unconfined")
s/dbus-daemon\[[0-9]*\]: \[system\] Activating via systemd: service name='\(.*\)' unit='\(.*\)' requested by ':[0-9\.]*' (uid=\([0-9]*\) pid=[0-9]* comm="\(.*\)" label="\(.*\)")/dbus-daemon: [system] Activating via systemd: service name='\1' unit='\2' requested by ':N' (uid=\3 pid=NNN comm="\4" label="\5")/

## *exporter
s/exporter\[[0-9]*\]: time="[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*\.[0-9]*\+\([0-9]*\)" level=/exporter: time="YYYY-MM-DDTHH:MM:SS.NNNNNN+\1" level=/
s/exporter\[[0-9]*\]: time="[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*Z" level=/exporter: time="YYYY-MM-DDTHH:MM:SSZ" level=/
s/_exporter\[[0-9]*\]: level=\(.*\) ts=[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*\.[0-9]*Z caller=/_exporter: level=\1 caller=/
s/process_exporter\[[0-9]*\]: [0-9]*\/[0-9]*\/[0-9]* [0-9]*:[0-9]*:[0-9]* error reading config file/process_exporter: error reading config file/
s/alertmanager\[[0-9]*\]: ts=[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*\.[0-9]*Z caller=/alertmanager: caller=/
s/_exporter\[[0-9]*\]: ts=[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*\.[0-9]*Z caller=/_exporter: caller=/

# postfix/local[11110]: 88A897E2BB: to=<_zeek@vps58732.vps.ovh.ca>, orig_to=<_zeek>, relay=local, delay=0.02, delays=0.01/0/0/0, dsn=2.0.0, status=sent (delivered to mailbox)
s/postfix\/local\[[0-9]*\]: [0-9A-Z]*: to=\(.*\), orig_to=\(.*\), relay=\(.*\), delay=[0-9\.]*, delays=[0-9\.]*\/[0-9\.]*\/[0-9\.]*\/[0-9\.]*, dsn=[0-9\.]*, status=sent (forwarded as [0-9A-F]*)/postfix\/local: XXX: to=\1, orig_to=\2, relay=\3, delay=N, delays=N\/N\/N\/N, dsn=N, status=sent (forwarded as XXXXXX)/
s/postfix\/local\[[0-9]*\]: [0-9A-Z]*: to=\(.*\), orig_to=\(.*\), relay=\(.*\), delay=[0-9\.]*, delays=[0-9\.]*\/[0-9\.]*\/[0-9\.]*\/[0-9\.]*, dsn=[0-9\.]*, status=/postfix\/local: XXX: to=\1, orig_to=\2, relay=\3, delay=N, delays=N\/N\/N\/N, dsn=N, status=/
s/postfix\/master\[[0-9]*\]: warning: process \(.*\) pid [0-9]* exit status \([0-9]*\)/postfix\/master: warning: process \1 pid X exit status \2/
s/postfix\/pickup\[[0-9]*\]: [0-9A-Z]*: uid=\([0-9]*\) from=\(.*\)/postfix\/pickup: XXX: uid=\1 from=\2/
s/postfix\/postdrop\[[0-9]*\]: warning: \(.*\)/postfix\/postdrop: warning: \1/
# postfix/qmgr[2136]: DA8687E2B1: from=<www-data@hostname>, size=685, nrcpt=1 (queue active)
s/postfix\/qmgr\[[0-9]*\]: [0-9A-Z]*: from=\(.*\), size=[0-9]*, nrcpt=\([0-9]*\)/postfix\/qmgr: XXX: from=\1, size=N, nrcpt=\2/
s/postfix\/qmgr\[[0-9]*\]: [0-9A-Z]*: removed/postfix\/qmgr: XXX: removed/
s/postfix\/sendmail\[[0-9]*\]: fatal: \(.*\)/postfix\/sendmail: fatal: \1/
# postfix/smtp[1148150]: A73F31FAF70: to=<relay4561535+ansible@gmail.com>, orig_to=<root>, relay=smtp.gmail.com[2607:f8b0:4004:c17::6c]:587, delay=2.1, delays=0.01/0.02/1.5/0.51, dsn=2.0.0, status=sent (250 2.0.0 OK  1721583648 d75a77b69052e-44f9cdbce43sm25680981cf.87 - gsmtp)
s/postfix\/smtp\[[0-9]*\]: [0-9A-Z]*: to=\(.*\), orig_to=\(.*\), relay=\(.*\), delay=[0-9\.]*, delays=[0-9\.]*\/[0-9\.]*\/[0-9\.]*\/[0-9\.]*, dsn=[0-9\.]*, status=sent (250 2.0.0 OK  [0-9]* [0-9a-z]*-[0-9a-z]*\.[0-9]* - \(.*\))/postfix\/smtp: XXX: to=\1, orig_to=\2, relay=\3, delay=N, delays=N\/N\/N\/N, dsn=N, status=sent (250 2.0.0 OK  NNN XXXXXX - \4)/
s/postfix\/smtp\[[0-9]*\]: [0-9A-Z]*: to=\(.*\), orig_to=\(.*\), relay=\(.*\), delay=[0-9\.]*, delays=[0-9\.]*\/[0-9\.]*\/[0-9\.]*\/[0-9\.]*, dsn=[0-9\.]*, status=sent (250 OK id=[0-9A-Za-z]*-[0-9A-Za-z]*-[0-9A-Za-z]*)/postfix\/smtp: XXX: to=\1, orig_to=\2, relay=\3, delay=N, delays=N\/N\/N\/N, dsn=N, status=sent (250 OK id=XXXXXX)/
s/postfix\/smtp\[[0-9]*\]: [0-9A-Z]*: to=\(.*\), orig_to=\(.*\), relay=\(.*\), delay=[0-9\.]*, delays=[0-9\.]*\/[0-9\.]*\/[0-9\.]*\/[0-9\.]*, dsn=[0-9\.]*, status=deferred /postfix\/smtp: XXX: to=\1, orig_to=\2, relay=\3, delay=N, delays=N\/N\/N\/N, dsn=N, status=deferred /
s/postfix\/smtp\[[0-9]*\]: [0-9A-Z]*: to=\(.*\), relay=\(.*\), delay=[0-9\.]*, delays=[0-9\.]*\/[0-9\.]*\/[0-9\.]*\/[0-9\.]*, dsn=[0-9\.]*, status=sent (250 OK id=[0-9A-Za-z]*-[0-9A-Za-z]*-[0-9A-Za-z]*)/postfix\/smtp: XXX: to=\1, relay=\2, delay=N, delays=N\/N\/N\/N, dsn=N, status=sent (250 OK id=XXXXXX)/
s/postfix\/smtp\[[0-9]*\]: connect to /postfix\/smtp: connect to /
s/postfix\/cleanup\[[0-9]*\]: [0-9A-Z]*: message-id=<[0-9]*.[0-9A-Z]*@\(.*\)>/postfix\/cleanup: XXX: message-id=<NNN.XXX@\1>/

# teleport timestamp
s/teleport\[[0-9]*\]: [0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*Z ERRO/teleport: YYYY-MM-DDTHH:MM:SSZ ERRO/
s/teleport\[[0-9]*\]: [0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*Z INFO/teleport: YYYY-MM-DDTHH:MM:SSZ INFO/

# smartd
s/smartd\[[0-9]*\]: Device: \(.*\) \[SAT\], SMART Usage Attribute: \([0-9]*\) \(.*\) changed from [0-9]* to [0-9]*/smartd[649]: Device: \1 [SAT], SMART Usage Attribute: \2 \3 changed from N to N/

# filebeat
s/filebeat\[[0-9]*\]: [0-9]*-[0-9]*-[0-9]* [0-9]*:[0-9]*:[0-9]*.[0-9]* +0000 UTC m=+[0-9]*\.[0-9]*/filebeat: YYYY-MM-DD HH:MM:SS.ZZZ +0000 UTC m=+NNN.NNN/
s/filebeat\[[0-9]*\]: \(.*\),"@timestamp":"[0-9]*-[0-9]*-[0-9]*T[0-9]*:[0-9]*:[0-9]*.[0-9]*Z",/filebeat: \1,"@timestamp":"YYYY-MM-DDTHH:MM:SS.ZZZZ",/

# proxmox
s/proxmox-mail-forward\[[0-9]*\]: mail forward failed: user '\(.*\)' does not have an email address/proxmox-mail-forward: mail forward failed: user '\1' does not have an email address/
s/pvestatd\[[0-9]*\]: status update time ([0-9]*.[0-9]* seconds)/pvestatd: status update time (N.N seconds)/
s/pvestatd\[[0-9]*\]: modified cpu set for/pvestatd: modified cpu set for/
s/pveproxy\[[0-9]*\]: worker [0-9]* started/pveproxy: worker N started/
s/pveproxy\[[0-9]*\]: worker [0-9]* finished/pveproxy: worker N finished/
s/pveproxy\[[0-9]*\]: worker exit/pveproxy: worker exit/
s/pveproxy\[[0-9]*\]: detected empty handle/pveproxy: detected empty handle/
s/pvedaemon\[[0-9]*\]: worker [0-9]* started/pvedaemon: worker N started/
s/pvedaemon\[[0-9]*\]: worker [0-9]* finished/pvedaemon: worker N finished/
s/pvedaemon\[[0-9]*\]: worker exit/pvedaemon: worker exit/
s/pvedaemon\[[0-9]*\]: <\(.*\)> /pvedaemon: <\1> /
s/spiceproxy\[[0-9]*\]: worker [0-9]* started/spiceproxy: worker N started/
s/spiceproxy\[[0-9]*\]: worker [0-9]* finished/spiceproxy: worker N finished/
s/spiceproxy\[[0-9]*\]: worker exit/spiceproxy: worker exit/
s/spiceproxy\[[0-9]*\]: send HUP to [0-9]*/spiceproxy: send HUP to N/
s/pmxcfs\[[0-9]*\]: \[status\] notice: RRDC update error \/var\/lib\/rrdcached\/db\/\(.*\): -1/pmxcfs: [status] notice: RRDC update error \/var\/lib\/rrdcached\/db\/XXX: -1/
s/pve-ha-lrm\[[0-9]*\]: loop take too long ([0-9]* seconds)/pve-ha-lrm: loop take too long (N seconds)/

# rngd
s/rngd\[[0-9]*\]: stats: FIPS 140-2 successes: [0-9]*/rngd: stats: FIPS 140-2 successes: N/
s/rngd\[[0-9]*\]: stats: FIPS 150-2 successes: [0-9]*/rngd: stats: FIPS 150-2 successes: N/
s/rngd\[[0-9]*\]: stats: entropy added to kernel pool: [0-9]*/rngd: stats: entropy added to kernel pool: N/
s/rngd\[[0-9]*\]: stats: bits sent to kernel pool: [0-9]*/rngd: stats: bits sent to kernel pool: N/
s/rngd\[[0-9]*\]: stats: bits received from HRNG source: [0-9]*/rngd: stats: bits received from HRNG source: N/
s/rngd\[[0-9]*\]: stats: HRNG source speed: (min=[0-9\.]*; avg=[0-9\.]*; max=[0-9\.]*)Kibits\/s/rngd: stats: HRNG source speed: (min=N; avg=N; max=N)Kibits\/s/
s/rngd\[[0-9]*\]: stats: HRNG test speed: (min=[0-9\.]*; avg=[0-9\.]*; max=[0-9\.]*)Mibits\/s/rngd: stats: HRNG source speed: (min=N; avg=N; max=N)Mibits\/s/
s/rngd\[[0-9]*\]: stats: FIPS source speed: (min=[0-9\.]*; avg=[0-9\.]*; max=[0-9\.]*)\([MK]*\)ibits\/s/rngd: stats: FIPS source speed: (min=N; avg=N; max=N)\1ibits\/s/
s/rngd\[[0-9]*\]: stats: FIPS tests speed: (min=[0-9\.]*; avg=[0-9\.]*; max=[0-9\.]*)\([MK]*\)ibits\/s/rngd: stats: FIPS tests speed: (min=N; avg=N; max=N)\1ibits\/s/

s/apt.systemd.daily\[[0-9]*\]: Applying pinning: PkgFilePin(id=[0-9]*, priority=-[0-9]*)/apt.systemd.daily: Applying pinning: PkgFilePin(id=N, priority=-N)/
s/apt.systemd.daily\[[0-9]*\]: check_stamp: interval=[0-9]*, now=[0-9]*, stamp=[0-9]*, delta=[0-9]* (sec)/apt.systemd.daily: check_stamp: interval=N, now=N, stamp=N, delta=N (sec)/
s/apt.systemd.daily\[[0-9]*\]: remove by archive size: \/var\/cache\/apt\/archives\/\(.*\).deb, delta=[0-9]* >= \([0-9]*\) (sec), size=[0-9]*#[0-9]* >= \([0-9]*\)/apt.systemd.daily: remove by archive size: \/var\/cache\/apt\/archives\/XXX.deb, delta=N >= \2 (sec), size=N#N >= \3/

s/in.tftpd\[[0-9]*\]: tftp:/in.tftpd: tftp:/
s/in.tftpd\[[0-9]*\]: RRQ from/in.tftpd: RRQ from/
s/dhcpd\[[0-9]*\]: WARNING: /dhcpd: WARNING: /
/dhcpd\[[0-9]*\]: Wrote [0-9]* /d

/squid\[[0-9]*\]: .* \/var\/spool\/squid\/[0-9]* exists/d
/squid\[[0-9]*\]: .* Making directories in \/var\/spool\/squid\/[0-9]*/d

/named\[[0-9]*\]: corporation.  Support and training for BIND 9 are/d
/named\[[0-9]*\]: Inc. (ISC), a non-profit 501(c)(3) public-benefit/d
/named\[[0-9]*\]: BIND 9 is maintained by Internet Systems Consortium,/d
/named\[[0-9]*\]: adjusted limit on open files/d
/named\[[0-9]*\]: available at /d
/named\[[0-9]*\]: linked to /d
/named\[[0-9]*\]: compiled /d
/named\[[0-9]*\]: built with /d
/named\[[0-9]*\]: automatic empty zone: /d
/named\[[0-9]*\]: configuring command channel from /d
/named\[[0-9]*\]: command channel listening on /d
/named\[[0-9]*\]: generating session key /d
/named\[[0-9]*\]: listening on /d
/named\[[0-9]*\]: loading configuration /d
/named\[[0-9]*\]: running on /d
/named\[[0-9]*\]: running as /d
/named\[[0-9]*\]: using default /d
/named\[[0-9]*\]: TKEY mode /d
/named\[[0-9]*\]: HMAC algo/d
/named\[[0-9]*\]: DNSSEC algo/d
/named\[[0-9]*\]: DS algo/d
/named\[[0-9]*\]: ----------------------------------------------------/d
s/named\[[0-9]*\]: permission denied resolving/named: permission denied resolving/
s/named\[[0-9]*\]: network unreachable resolving/named: network unreachable resolving/
