## {{ ansible_managed }}
## /etc/logrotate.d/iptables
/var/log/iptables/iptables.log {
    rotate 90
    daily
    missingok
    notifempty
    delaycompress
    compress
    create 640 root adm
    postrotate
        invoke-rc.d rsyslog rotate > /dev/null
    endscript
}
