## {{ ansible_managed }}
## /etc/logrotate.d/osquery
/var/log/osquery/osqueryd.results.log {
    rotate 90
    daily
    missingok
    notifempty
    delaycompress
    compress
    create 640 root adm
    sharedscripts
}
