{{ ansible_managed | comment }}
## /etc/logrotate.d/iptables
/var/log/iptables/iptables.log {
    rotate {{ harden_logrotate_days|int }}
    daily
    dateext
    dateformat {{ syslogclient_logrotate_datformat | default('-%Y-%m-%d.log') }}
    missingok
    notifempty
    delaycompress
    compress
    create 640 root adm
    postrotate
        invoke-rc.d rsyslog rotate > /dev/null
    endscript
}
/var/log/iptables/ip6tables.log {
    rotate {{ harden_logrotate_days|int }}
    daily
    dateext
    dateformat {{ syslogclient_logrotate_datformat | default('-%Y-%m-%d.log') }}
    missingok
    notifempty
    delaycompress
    compress
    create 640 root adm
    postrotate
        invoke-rc.d rsyslog rotate > /dev/null
    endscript
}
