{{ ansible_managed | comment }}
if ($programname == 'python' or $programname == 'python3') and $msg contains 'ansible-' and $msg contains 'Invoked with ' then /var/log/ansible/ansible.log
{% if rsyslog_v.stdout is defined and rsyslog_v.stdout|string is version_compare('8.0', '<') %}
& ~
{% else %}
& stop
{% endif %}
:msg, contains, "ansible-copy: " -/var/log/ansible/ansible.log
{% if rsyslog_v.stdout is defined and rsyslog_v.stdout|string is version_compare('8.0', '<') %}
& ~
{% else %}
& stop
{% endif %}
:msg, contains, "ansible-command: " -/var/log/ansible/ansible.log
{% if rsyslog_v.stdout is defined and rsyslog_v.stdout|string is version_compare('8.0', '<') %}
& ~
{% else %}
& stop
{% endif %}
:msg, contains, "ansible-apt: " -/var/log/ansible/ansible.log
{% if rsyslog_v.stdout is defined and rsyslog_v.stdout|string is version_compare('8.0', '<') %}
& ~
{% else %}
& stop
{% endif %}
:msg, contains, "ansible-async_wrapper.py: " -/var/log/ansible/ansible.log
{% if rsyslog_v.stdout is defined and rsyslog_v.stdout|string is version_compare('8.0', '<') %}
& ~
{% else %}
& stop
{% endif %}
