## {{ ansible_managed }}
:msg, contains, "iptables: " -/var/log/iptables/iptables.log
{% if rsyslog_v.stdout is defined and rsyslog_v.stdout | version_compare('8.0', '<') %}
& ~
{% else %}
& stop
{% endif %}
:msg, contains, "iptables denied: " -/var/log/iptables/iptables.log
{% if rsyslog_v.stdout is defined and rsyslog_v.stdout | version_compare('8.0', '<') %}
& ~
{% else %}
& stop
{% endif %}
