{{ ansible_managed | comment }}
{% if ansible_distribution == "Alpine" %}
check process rsyslog matching "rsyslogd"
{% else %}
check process rsyslog
{% endif %}
{% if ansible_os_family == "RedHat" %}
  with pidfile "/var/run/syslogd.pid"
{% endif %}
{% if ansible_os_family == 'Debian' %}
  with pidfile "/var/run/rsyslogd.pid"
{% endif %}
  group system
  group rsyslog
{% if ansible_service_mgr == 'systemd' %}
  start program = "/bin/systemctl start rsyslog" with timeout 60 seconds
  stop program  = "/bin/systemctl stop rsyslog"
{% else %}
  start program = "/etc/init.d/rsyslog start" with timeout 60 seconds
  stop program  = "/etc/init.d/rsyslog stop"
{% endif %}
  if cpu > 90% for 15 cycles then alert
  if totalmem > 90% for 15 cycles then alert
  if loadavg(15min) greater than 10 for 50 cycles then alert
  if 5 restarts with 5 cycles then alert
  depends on rsyslog_binary
  depends on rsyslog_conf

check file rsyslog_binary
  with path /usr/sbin/rsyslogd
  group rsyslog
  if failed checksum then alert

check file rsyslog_conf with path /etc/rsyslog.conf
{% if ansible_os_family == 'Debian' %}
  include /etc/monit/templates/rootrc
{% endif %}
  group rsyslog
