#!/bin/sh
{{ ansible_managed | comment }}

# /usr/bin/syslog-summary
# Basic replacement for dead package...
# https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=198762

echo "$*" > /tmp/syslog-summary.args
for f in $*; do
  if [ -r "$f" ]; then
    list_files="$list_files $f";
  else
    no_files="$no_files $f"
  fi
done
cat ${list_files} | sort | uniq -c | sort -nr | tee /tmp/syslog-summary.bak

if [ -n "${no_files}" -a "X${no_files}" != "X " ]; then
>&2 echo "Warning: following syslog-summary arguments are not files or not readable: '$no_files'"
fi
